<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
  <p style="padding-top: 21px;padding-left: 20px"> Settings / About Us / Add</p>
  </div>


    <div class="pageBoxLg">
        <div class="container topAlignContainer ">
            <form [formGroup]="AboutUsForm">
            <div>
                <label  class="pageBoxLg-label pblabel">Create About Us</label>
            
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Title" formControlName="title"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Details" formControlName="details"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Note 1" formControlName="note1"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Note 2" formControlName="note2"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Note 3" formControlName="note3"></textarea>
                </mat-form-field>
              </div>
            </div>
            <label class="chooseimages"><h5><b>Choose (images)</b></h5></label>
              <div>
               <img *ngFor="let url of urls"  [src]="url" style="width: 280px; height: 245px;" aria-required="true"/>
              </div>
              <div>
                <input type="file" name="file" class="btn btnPink btn-block" id="file" 
                  (change)="handleFileInput($event.target.files)" required>
              </div>
         
              <div class="row">
              <div style="margin-left: 15px;margin-top: 7px;">
                <button mat-raised-button type="button" color="primary" (click)="createAboutUs(AboutUsForm)">Save</button>
                <button style="margin-left: 5px;" mat-raised-button type="button" color="primary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
















<!-- <div class="pageBoxLg">
<div class="container topAlignContainer ">
  <form [formGroup]="TermsForm">
    <div>
      <label class="pageBoxLg-label">Create Terms & USe</label>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Heading" formControlName="heading"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Details" formControlName="details"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="button" color="primary" (click)="createTermsAndUse(TermsForm)">Save</button>
      </div>
    </div>
  </form>
</div>
</div> -->