<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mt-5">
      
      <div class="row">
        <div class="col-md-12" *ngIf="!isShowPromotion">
          <img [src]="holder?.imageLink"  style="width: 200px;">
          <button class="btn btn-primary" (click)="onImageChange()">Change</button>
        </div>
        <div class="col-md-12" *ngIf="isShowPromotion">
        <label class="chooseimages"><h5><b>Choose (images)</b></h5></label>
      <div>
        <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
      </div>
      <div>
        <input type="file" name="file" class="btn btnPink btn-block" id="file"
          (change)="handleFileInput($event.target.files)">
      </div>
      <button class="btn btn-primary" (click)="onCancelImage()">Cancel</button>
      <div *ngIf="this.hide === true">
        <p style="color: crimson">   Image required </p>
        </div>
  
      <div *ngIf="showImageError">
          <p style="color: crimson"> Required Image Size </p>
        </div>
      </div>
      </div>
  
    </div>
    <div class="col-md-6 mt-5">
      <div class="row">
        <div class="col-md-12 form-group">
          <input type="text" class="form-control" [value]="holder?.tagTitle" #tagN placeholder="Tag Name">
        </div>
        <div class="col-md-12 form-group">
          <textarea  class="form-control" [value]="holder?.tagDescription" placeholder="Tag Description" #tagD cols="30" rows="6"></textarea>
        </div>
        <div class="col-md-12 form-group">
          <input type="text" [value]="holder?.link" class="form-control" #link placeholder="Link">
        </div>
        <div class="col-md-12 form-group">
          <button class="btn btn-primary mr-2" (click)="onUpdate(tagN.value, tagD.value, link.value)">Submit</button>
          <button class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>