<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Banners / Edit</p>
    </div>
<mat-card class="pageBoxLg">
    <label  class="pageBoxLg-label pblabel">Edit Banners</label>
   
    <form [formGroup]="BannerForm" novalidate style="padding-top:60px">
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-md-6" >
            <div *ngIf = "!imageEdit">
                <label class="chooseimages"><h5><b>Edit (images)</b></h5></label>
            
              <mat-icon  style="margin-left: 20px;margin-top: 8px;" (click)="editImage()"> edit </mat-icon>
              <mat-card class="matImage">
                <img [src]="bannerModel.bannerImageName" style="width: 400px; height: 245px;" />
              </mat-card>
            </div>
           
            <div *ngIf ="imageEdit">
              <label>Logo </label>
              <div>
                <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
              </div>
              <div *ngIf="showImageError">
                  <p style="color: crimson"> Required Image Size </p>
                </div>
                <div *ngIf="ImageDimenetionSubmitError">
                    <p style="color: crimson"> Check Image Dimension</p>
                  </div>
              <div>
                <input type="file" name="file" class="btn btnPink btn-block" id="file"
                (change)="handleFileInput($event.target.files)">
              </div>
              <div class="row form-group borDer p-5">
                  <div class="col-md-12">
                    <label><h3>Image Dimension</h3></label>  
                  </div>
                  <div class="col-md-12">
                    1920 X 650
                  </div>
                </div>
              <div>
                  
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Update  Logo "
                  (click)="checkImageDimension()">
                  <mat-icon> save </mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancel Logo"
                 (click)="cancelImage()">
                  <mat-icon style="color: #FF5778"> clear </mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
             
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Banner Position" #position [value]="bannerModel.position"
                 formControlName="position">
                <mat-error *ngIf="!BannerForm.controls['position'].errors?.required">
                  Enter the valid
                  <strong>Number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Banner Title" #title [value]="bannerModel.bannerTitle" 
                formControlName="bannerTitle">
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Banner Sub Title" #bannersubtitle 
                [value]="bannerModel.bannerSubTitle" formControlName="bannerSubTitle">
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Banner Description" #description 
                [value]="bannerModel.bannerDescription" formControlName="bannerDescription"></textarea>
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Button Content" [value]="bannerModel.buttonContent" 
                #buttoncontent formControlName="buttonContent">
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Link" [value]="bannerModel.link" #link formControlName="link">
              </mat-form-field>
            </div>
            <div class="form-group col-md-12 labelcolor">
              <button mat-raised-button type="submit"
              (click)="CreateBanner(position.value, title.value, description.value,
               link.value, bannersubtitle.value, buttoncontent.value)"
                [disabled]='!BannerForm.valid' class="saveNow" color="primary">Update</button>
              <button mat-flat-button color="primary"  type="submit" (click)="cancel()" class="categorycancelbutton">Cancel</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>


<!-- <div class="pageBoxLg ">
  <label class="pageBoxLg-label ">Edit Banners
  </label>
  <form [formGroup]="BannerForm" novalidate style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-md-6" >
          <div *ngIf = "!imageEdit">
            <label>Edit </label> <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Logo"
              (click)="editImage()">
              <mat-icon> edit </mat-icon>
            </button>
            <div>
              <img [src]="bannerModel.bannerImageName" style="width: 280px; height: 245px;" />
            </div>
          </div>
          <div *ngIf ="imageEdit">
            <label>Logo </label>
            <div>
              <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
            </div>
            <div>
              <input type="file" name="file" class="btn btnPink btn-block" id="file"
              (change)="handleFileInput($event.target.files)">
            </div>
            <div>
              <button mat-icon-button mat-sm-button color="primary" matTooltip="Update  Logo "
                (click)="updateImage()">
                <mat-icon> save </mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancel Logo"
               (click)="cancelImage()">
                <mat-icon> clear </mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Banner Details</label>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Banner Position" #position [value]="bannerModel.position"
               formControlName="position">
              <mat-error *ngIf="!BannerForm.controls['position'].errors?.required">
                Enter the valid
                <strong>Number</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Banner Title" #title [value]="bannerModel.bannerTitle" 
              formControlName="bannerTitle">
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Banner Sub Title" #bannersubtitle 
              [value]="bannerModel.bannerSubTitle" formControlName="bannerSubTitle">
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Banner Description" #description 
              [value]="bannerModel.bannerDescription" formControlName="bannerDescription"></textarea>
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Button Content" [value]="bannerModel.buttonContent" 
              #buttoncontent formControlName="buttonContent">
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Link" [value]="bannerModel.link" #link formControlName="link">
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <button mat-raised-button type="submit"
            (click)="CreateBanner(position.value, title.value, description.value,
             link.value, bannersubtitle.value, buttoncontent.value)"
              [disabled]='!BannerForm.valid'>Save</button>
            <button mat-raised-button type="submit" (click)="cancel()" >Cancel</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->