<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mt-5">
      

        <label class="chooseimages"><h5><b>Choose (images)</b></h5></label>
      <div>
        <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
      </div>
      <div>
        <input type="file" name="file" class="btn btnPink btn-block" id="file"
          (change)="handleFileInput($event.target.files)">
      </div>
     <!--  <div *ngIf="this.hide === true">
          Image required
        </div>
     -->
      <!-- <div *ngIf="showImageError">
          <p style="color: crimson"> Required Image Size </p>
        </div> -->
    
  
    </div>
    <div class="col-md-6 mt-5">
      <div class="row">
        <div class="col-md-12 form-group">
          <input type="text" class="form-control" #tagN placeholder="Tag Name">
        </div>
        <div class="col-md-12 form-group">
          <textarea  class="form-control" placeholder="Tag Description" #tagD cols="30" rows="6"></textarea>
        </div>
        <div class="col-md-12 form-group">
          <input type="text" class="form-control" #link placeholder="Link">
        </div>
        <div class="col-md-12 form-group">
          <button class="btn btn-primary mr-2" (click)="onSubmit(tagN.value, tagD.value, link.value)">Submit</button>
          <button class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>