<div *ngIf="data.name === 'Sub'">
  <form [formGroup]="categoryForm">
    <div class="row" >
      <div class="col-md-12">
        <button mat-raised-button color="primary" class="button fontSty" (click)="addForm()" type="button">Add Attribue        Value</button>
      </div>
    </div>
    <div class="grid" formArrayName="fieldValue">
      <div class="row gridRow" *ngFor="let fieldTest of fieldAttributeValueForms.controls; let i=index"
        [formGroupName]="i">
        <div class="col-md-10">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Attribue Dropdown Value</mat-label>
              <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <a (click)="deleteAttribute(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 actionClass">
          <button mat-raised-button class="button fontSty"
            (click)="updateSubcategoryAttribute(data.catId, data.mainId, data.subId, data.attributeId)"
            type="submit">Update</button>
        </div>
        <div class="col-md-6 ">
          <div class="float-right">
            <button mat-raised-button type="button fontSty" (click)="dialogRef.close(false)"
              class="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div *ngIf="data.name === 'Sup'">
    <form [formGroup]="categoryForm">
      <div class="row" >
        <div class="col-md-12">
          <button mat-raised-button color="primary" class="button fontSty" (click)="addForm()" type="button">Add Attribue        Value</button>
        </div>
      </div>
      <div class="grid" formArrayName="fieldValue">
        <div class="row gridRow" *ngFor="let fieldTest of fieldAttributeValueForms.controls; let i=index"
          [formGroupName]="i">
          <div class="col-md-10">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Attribue Dropdown Value</mat-label>
                <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <a (click)="deleteAttribute(i)">
                <mat-icon>clear</mat-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 actionClass">
            <button mat-raised-button class="button fontSty"
              (click)="addSuperAttribute(data.catId, data.attributeId)"
              type="submit">Update</button>
          </div>
          <div class="col-md-6 ">
            <div class="float-right">
              <button mat-raised-button type="button fontSty" (click)="dialogRef.close(false)"
                class="button">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div *ngIf="data.name === 'Main'">
      <form [formGroup]="categoryForm">
        <div class="row" >
          <div class="col-md-12">
            <button mat-raised-button color="primary" class="button fontSty" (click)="addForm()" type="button">Add Attribue        Value</button>
          </div>
        </div>
        <div class="grid" formArrayName="fieldValue">
          <div class="row gridRow" *ngFor="let fieldTest of fieldAttributeValueForms.controls; let i=index"
            [formGroupName]="i">
            <div class="col-md-10">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Attribue Dropdown Value</mat-label>
                  <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <a (click)="deleteAttribute(i)">
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 actionClass">
              <button mat-raised-button class="button fontSty"
                (click)="addMainAttribute(data.catId, data.mainId, data.attributeId)"
                type="submit">Update</button>
            </div>
            <div class="col-md-6 ">
              <div class="float-right">
                <button mat-raised-button type="button fontSty" (click)="dialogRef.close(false)"
                  class="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
  