<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Ads / Add</p>
    </div>
<mat-card>
    <mat-card class="pageBoxLg " >
        <label  class="pageBoxLg-label pblabel">Add Ads </label>
     
      <form [formGroup]="ADSForm" novalidate style="padding-top:60px">
        <div class="container-fluid">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="chooseimages"><h5><b>Choose (images)</b></h5></label>
              <div>
               <img *ngFor="let url of urls"  [src]="url" style="width: 280px; height: 245px;" aria-required="true"/>
              </div>
              <div>
                <input type="file" name="file" class="btn btnPink btn-block" id="file" 
                  (change)="handleFileInput($event.target.files)" required>
              </div>
              <div *ngIf="this.hide === true">
                Image required
              </div>
              <div *ngIf="showImageNameError">
                Image Name exists
              </div>
              <div *ngIf="showImageError">
                  <p style="color: crimson"> Required Image Size </p>
                </div>
              <div class="row form-group borDer p-5">
                  <div class="col-md-12">
                    <label><h3>Image Dimension</h3></label>  
                  </div>
                  <div class="col-md-12">
                      840 X 906
                  </div>
                </div>
            </div>
            <div class="form-group col-md-6">
              <!-- <h5 class="detailsNow">Details</h5> -->
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ads Position" formControlName="position" type="number" required>
                  <mat-error *ngIf="!ADSForm.controls['position'].errors?.required">
                    Enter the valid
                    <strong>Number</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ads Title" formControlName="adsTitle" >
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ads Description" formControlName="adsDescription" >
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Link" formControlName="link" >
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Button Content" formControlName="buttonContent" >
                  </mat-form-field>
                </div>
    
              <div class="form-group col-md-12">
                  <div *ngIf="ImageDimenetionSubmitError">
                      <p style="color: crimson"> Check Image Dimension</p>
                    </div>
                <button mat-flat-button color="primary"  type="submit" (click)="validation()"
                  [disabled]='!ADSForm.valid' class="saveNow">Save </button>
                <button class="categorycancelbutton" mat-flat-button color="primary"  type="submit" (click)="cancel()">Cancel</button>
                <br>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    
    </mat-card>

<!-- <div class="pageBoxLg ">
  <label class="pageBoxLg-label ">Add Ads
  </label>
  <form [formGroup]="ADSForm" novalidate style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Ads Images</label>
          <div>
            <img *ngFor="let url of urls"  [src]="url" style="width: 280px; height: 245px;" aria-required="true" />
          </div>
          <div>
            <input type="file" name="file" class="btn btnPink btn-block" id="file" 
              (change)="handleFileInput($event.target.files)" required>
          </div>
          <div *ngIf="this.hide === true">
            Image required
          </div>
          <div *ngIf="showImageNameError">
            Image Name exists
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Ads Details</label>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ads Position" formControlName="position" type="number" required>
              <mat-error *ngIf="!ADSForm.controls['position'].errors?.required">
                Enter the valid
                <strong>Number</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ads Title" formControlName="adsTitle" >
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ads Description" formControlName="adsDescription" >
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Link" formControlName="link" >
            </mat-form-field>
          </div>
          <div class="form-group col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Button Content" formControlName="buttonContent" >
              </mat-form-field>
            </div>

          <div class="form-group col-md-12">
            <button mat-raised-button type="submit" (click)="validation()"
              [disabled]='!ADSForm.valid'>Save</button>
            <button mat-raised-button type="submit" (click)="cancel()">Cancel</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->