<div class="grid">
    <label  class="pageBoxLg-label pblabel">Update Product</label>
  <div class="row gridRow">
    <div class="col-md-6">
      <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="categorySelected($event)">
              <mat-option *ngFor="let sup of superCategoryModel" [value]="sup">
                {{sup.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="offset-md-3 col-md-6 offset-md-3" >
          <mat-form-field>
            <mat-label>Main Category</mat-label>
            <mat-select (selectionChange)="categoryMainCategory($event)">
              <mat-option *ngFor="let main of supCategoryDetails?.mainCategory" [value]="main">
                {{main.mainCategoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="offset-md-3 col-md-6 offset-md-3" >
          <mat-form-field>
            <mat-label>Sub Category</mat-label>
            <mat-select (selectionChange)="categorySubCategory($event)">
              <mat-option   
              *ngFor="let sub of mainCategoryDetails?.subCategory" [value]="sub">
                {{sub.subCategoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
      </div>
    </div>
    <div class="col-md-4">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Brand Name" aria-label="Number" matInput 
            [formControl]="brandNameList" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of brandOptions "
              (onSelectionChange)="selectBrand($event, option)"
               [value]="option.brandName"
              >
              {{option.brandName}} ({{option.brandId}})
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Vendor</mat-label>
        <mat-select (selectionChange)="selectVendor($event)">
          <mat-option *ngFor="let vendor of vendorModel" [value]="vendor">
            {{vendor.vendorName}} ({{vendor.vendorCode}})
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="col-md-2" *ngIf="dataSubDeatils.length > 0">
       
        <div class="form-group">
          <a  class="btn btn-primary" [href]="excelUrlTemplate" download>
            download excel
          </a>
        </div>
    </div>
  </div>
</div>

<div class="row pageBoxl m-5">
  <div class="col-md-3">
      <h5>Bulk Upload</h5>
    <div class="form-group">
      <input type="file" class="form-control" (change)="onSubmit($event)"
       placeholder="Upload file">
    </div>
  </div>
    <div class="col-md-2">
    <div class="form-group">
      <!-- <p *ngIf="this.showError" style="color: red;">Vendor Name Not Same</p>
      <p *ngIf="this.isCatalogueSKU" style="color: red;">Catalogue have Same Sku</p>
      <p *ngIf="this.isSameSKU" style="color: red;">Already have the sku in same vendor</p> -->
      <button class="btn btn-md btn-primary" 
      [disabled]="!subCategoryDetails"
       (click)="onUpload()">Upload</button>
    </div>
    <p style="color: crimson">{{displayValue?.result}}</p>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <button class="btn btn-md btn-primary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>