.mainclass{
    font-family: 'Montserrat';

}
.tablesuper{
  margin-top: 40px;
}

.selectCursor {
  cursor: pointer;
}



.checked {
  margin: 15px
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 1.25em 0 !important;
}

.btn-primary {
  margin-left: 15px;
  width: 200px;
  cursor: pointer;
}

th {
  background: #f0f3f5 !important;
}

.imgCard {
  width: 215px;
  height: 185px;
  margin: 10px;
}

.imageNow {
  width: 180px;
  height: 145px;
}

.matIcon {
  background-color: #FF5778;
}

td {
  background: #fff;
}

.button:focus {
  outline: none !important;
}

.mat-icon-button:focus {
  outline: none !important;
}
.matImg{
  width: 185px;
  height: 145px;
}
h5{
  font-size: 16px;
  font-weight: 600;
}