<form [formGroup]="productForm" (ngSubmit)="validateProducts()">
  <div class="pageBoxLg">
    <div class="grid">
      <div class="row">
        <div class="col-md-8 col-8">

        </div>
        <div class="col-md-2 col-2">
          <div class="form-group  float-right">
            <input class="btn btn-md btn-danger" type="submit" value="save">
          </div>
        </div>
        <div class="col-md-2 col-2">
          <div class="form-group float-right">
            <input class="btn btn-md btn-primary"
             (click)="cancelProduct()" type="button" 
             value="cancel">
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group class="mat-tab-fill-height" dynamicHeight (selectedIndexChange)="selectedIndexChange($event)"
      [selectedIndex]="selectedIndex">
      <mat-tab label="Category">
        <div class="grid">
          <div class="row gridRow">
            <div class="col-md-12">
              <div class="row">
                <div class="offset-md-3 col-md-6 offset-md-3">
                  <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select (selectionChange)="categorySelected($event)">
                      <mat-option *ngFor="let sup of superCategoryModel" [value]="sup">
                        {{sup.categoryName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="offset-md-3 col-md-6 offset-md-3" *ngIf="mainCategorySelected">
                  <mat-form-field>
                    <mat-label>Main Category</mat-label>
                    <mat-select (selectionChange)="categoryMainCategory($event)">
                      <mat-option *ngFor="let main of supCategoryDetails?.mainCategory" [value]="main">
                        {{main.mainCategoryName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="offset-md-3 col-md-6 offset-md-3" *ngIf="subCategorySelected">
                  <mat-form-field>
                    <mat-label>Sub Category</mat-label>
                    <mat-select (selectionChange)="categorySubCategory($event)">
                      <mat-option *ngFor="let sub of mainCategoryDetails?.subCategory" [value]="sub">
                        {{sub.subCategoryName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Brand">
        <div class="grid">
          <div class="row gridRow">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Brand</mat-label>
                  <mat-select (selectionChange)="brandSelected($event)">
                    <mat-option *ngFor="let brand of  brandModel" [value]="brand">
                      {{brand.brandName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">

              <div class="form-group">
                {{selectedBrand?.brandTitle}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <img [src]="brandImageUrl + selectedBrandId + '/' +selectedBrand?.brandImageName" style="width: 280px; height: 245px;" aria-required="true"/>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Product Info">
        <div class="grid">
          <div class="row gridRow">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Product Name</mat-label>
                  <input matInput placeholder="Product Name" formControlName="productName" required>
                  <mat-error *ngIf="productForm.controls['productName'].errors?.required">
                    Product Name is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Product Description</mat-label>
                  <input matInput placeholder="Product Description" formControlName="productDescription">
                  <mat-error *ngIf="productForm.controls['productDescription'].errors">
                    Product Description
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Style Code</mat-label>
                  <input matInput placeholder="Style Code" formControlName="styleCode">
                  <mat-error *ngIf="productForm.controls['styleCode'].errors">
                    Style Code
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>HSN</mat-label>
                  <input matInput placeholder="Style Code" formControlName="hsn">
                  <mat-error *ngIf="productForm.controls['hsn'].errors">
                    HSN
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Manufacturer</mat-label>
                  <input matInput placeholder="Manufacturer" formControlName="manufacturer">
                  <mat-error *ngIf="productForm.controls['manufacturer'].errors">
                    Manufacturer
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Bullet Points</mat-label>
                  <input matInput placeholder="Bullet Points" formControlName="bulletPoints">
                  <mat-error *ngIf="productForm.controls['bulletPoints'].errors">
                    Bullet Points
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Price</mat-label>
                  <input matInput placeholder="Price" formControlName="price">
                  <mat-error *ngIf="productForm.controls['price'].errors">
                    Price
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput placeholder="Quantity" formControlName="quantity">
                    <mat-error *ngIf="productForm.controls['quantity'].errors">
                        Quantity
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
  
              </div>
              
            <div class="col-md-12">
              More Information
              <!--  <div class="form-group">
               <a (click)="deleteRequirements(i)">
                 <mat-icon>clear</mat-icon>
               </a>
             </div> -->

            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-select placeholder="Select the Material" formControlName="material">
                  <mat-option *ngFor="let data of material" [value]="data">
                    {{data}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">

              <mat-form-field appearance="outline">
                <mat-label>Item Height (cm)</mat-label>
                <input matInput placeholder="Item Height" formControlName="height">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label>Item Weight (kg)</mat-label>
                <input matInput placeholder="Item Weight" formControlName="weight">
              </mat-form-field>
            </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Item Length (cm)</mat-label>
              <input matInput placeholder="Item Length" formControlName="length">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Item Breath (cm)</mat-label>
              <input matInput placeholder="Item Breath" formControlName="breath">
            </mat-form-field>
          </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-select placeholder="Select the Occassion Type" formControlName="occassion">
                  <mat-option *ngFor="let data of occasion" [value]="data">
                    {{data}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select the Color" formControlName="color">
                  <mat-option *ngFor="let data of color" [value]="data.colorName">
                    {{data.colorName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Select the Tags" formControlName="tags" multiple>
                    <mat-option *ngFor="let data of productTagModel" [value]="data._id">
                      {{data.tagName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Images">
        <div class="grid">
          <div class="row gridRow">
            <div class="col-md-6">
              <label>
                <input type="file" (change)="handleFileInput($event.target.files)" multiple>
              </label>
              <div class="alert alert-danger" *ngIf="imageError">
                <h4>Please Select the images</h4>
              </div>
              <div class="row">
                <div class="col-md-6 pb-2" *ngFor="let url of urls">
                  <mat-card>
                    <img class="img-fluid" [src]="url" />
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Size">
        <div class="grid">
          <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-select  placeholder="Select the Option"
                      formControlName="sizeGuideName">
                      <mat-option *ngFor="let option of sizeguideData" [value]="option">
                        {{option.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field>
                <mat-select (selectionChange)="selectOptionValue($event)" placeholder="Select the Option"
                  formControlName="sizeVariantId">
                  <mat-option *ngFor="let option of productOptionModel" [value]="option">
                    {{option.optionName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div [hidden]="!selectValueOptions" class="alert alert-danger">
                Select Option Value
              </div>
            </div>
            <div class="col-md-10">
              <div class="grid" formArrayName="optionValue">
                <div class="row gridRow">
                  <div class="col-md-12">
                    <div class="form-group p-2">
                      <input class="btn btn-sm btn-danger" (click)="addForm()" type="button" value="Add Size">
                    </div>
                  </div>
                  <!--   <div class="col-md-10">
                    {{productOptionModel | json}}
                      </div> {{productOptionValue | json}}-->
                </div>
                <div class="row gridRow" *ngFor="let account of productOptionValueForms.controls; let i=index"
                  [formGroupName]="i">
                  <div class="col-md-2">
                    <!--  <div class="form-group">
                          <mat-form-field appearance="outline">
                            <mat-label>Option Value Name</mat-label>
                            <input matInput formControlName="optionValueName" placeholder="option Value Name">
                          </mat-form-field>
                        </div> -->
                    <mat-form-field class="example-full-width">
                      <mat-select (selectionChange)="selectOptionValueName($event)" placeholder="Select the Size"
                        formControlName="sizeName">
                        <mat-option *ngFor="let optionValue of productOptionValue"
                          [value]="optionValue.optionValueName">
                          {{optionValue.optionValueName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>SKU</mat-label>
                        <input matInput formControlName="sku" placeholder="SKU">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="sizeQuantity" placeholder="Quantity">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="sizePrice" placeholder="Price">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-1" style="padding: 10px;">
                    <div class="form-group">
                      <a (click)="deleteRequirements(i)">
                        <mat-icon>clear</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="SEO
            ">
        <div class="grid">
          <div class="row gridRow">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Meta Title</mat-label>
                  <input matInput placeholder="Meta Title" formControlName="metaTitle">
                  <mat-error *ngIf="productForm.controls['metaTitle'].errors?.required">
                    Meta Title is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Meta Description</mat-label>
                  <input matInput placeholder="Meta Description" formControlName="metaDescription">
                  <mat-error *ngIf="productForm.controls['metaDescription'].errors">
                    Meta Description
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Meta Keyword</mat-label>
                  <input matInput placeholder="Meta Keyword" formControlName="metaKeyword">
                  <mat-error *ngIf="productForm.controls['metaKeyword'].errors">
                    Meta Keyword
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>