.loginContainer {
    margin: 0 0 0 0;
    text-align: right;
    float: none;
    display: inline-block;
    width: 100%;
}
.bannerDiv {
    float: left;
    width: 100%;
    position: relative;
}

  .divDisplay {
    max-width: 200px;
    min-width:200px;
    display:inline-block;
    vertical-align: top;
  }
  
.loginBlock {
    display: inline-block;
    width: 100%;
    background: #fff;    
    padding: 40px;
    margin-right: 0;
    text-align: center;
    border: solid 1px #e5e9ef;
}
.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

.communityGrid {
    float: left;
    width: 100%;
  }
  .bannerDiv:hover .edit {
	display: block;
}
.heading:hover .edit{
    display: block;
}
.subHeading:hover .edit{
    display: block;
}
  .communityCardBox {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  }
  .communityCardBox .communityCardImg {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  }
  .communityCardBox .communityCardImg img:last-child {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    }
    .description:hover .edit{
     
        display: block;
    }
    .edit {
        padding-top: 7px;	
        padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        cursor: pointer;
    }
    .communityCardBox .communityCardImg img {
    width: 100%;
    }
    .communityCardBox .communityCardImg img:first-child {
    width: 100%;
    height: 100%;
    display: block;
    }