<div class="container p-0">
  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" [src]="infoService.contentImageUrl + 'community/' + community._id + '/' + community.bannerImage[0].bannerImageName" class="img-fluid" alt="First slide">
      </div>
    </div>
  </div> -->
  <div class="bannerDiv" *ngFor="let ban of communityDisplay?.bannerImage">

    <div class="row" *ngIf="ban.showDiv">
      <div class="col-md-12">
          <img class="img-fluid" [src]="showImage">
      </div>
      <div class="col-md-12">
          <div class="form-group">
              <input type="file" id="file" (change)="handleFileInput64Base($event.target.files)">
          </div>
      </div>
      <div class="col-md-6">
        <button mat-raised-button class="full-width mt-3 mb-5"
  style="width: 100%; background-color: #13586f; color: white" (click)="updateCommunityImage(communityDisplay?._id, ban._id, ban.bannerImageName)">Upload</button>
      </div>
  </div>
  <div class="row"  *ngIf="!ban.showDiv" >
    <div class="edit"  (click)="editCommunity(ban._id)"><mat-icon>edit</mat-icon></div>
    <img  width="100%" class="hidden-xs" height="328" [src]="communityService.contentImageUrl + 'community/' + communityDisplay?._id + '/' + ban.bannerImageName" >
  </div>
  </div>
  
  <div class="row" >
    <div class="col-md-12" *ngIf="!communityDisplay.showHeadingDiv">
      <div class="form-group heading p-2">
        <div class="edit" (click)="editHeading()"><mat-icon>edit</mat-icon></div>
      <h1 class="customerTitle text-center">{{communityDisplay?.heading}}</h1>
    </div>
    </div>
    <div  class="col-md-12" *ngIf="communityDisplay.showHeadingDiv">
      <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput name="heading" [value]="communityDisplay?.heading" #heading
                  placeholder="Heading" >
          </mat-form-field>
          </div>
          <div class="col-md-4">
            <button mat-raised-button color="warn"
            (click)="updateHeading(communityDisplay?._id, heading.value)">Save</button>
          </div>
      </div>   
  </div>
    <div class="col-md-12" *ngIf="!communityDisplay.showSubHeadingDiv">
    <div class="form-group subHeading">
      <div class="edit" (click)="editSubHeading()"><mat-icon>edit</mat-icon></div>
      <h3 class="customerTitle text-center">{{communityDisplay?.subHeading}}</h3>
    </div>
    </div>
    <div  class="col-md-12" *ngIf="communityDisplay.showSubHeadingDiv">
      <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput name="heading" #subHeading
               [value]="communityDisplay?.subHeading"
                  placeholder="Heading" >
          </mat-form-field>
          </div>
          <div class="col-md-4">
            <button mat-raised-button color="warn" 
            (click)="updateSubHeading(communityDisplay?._id, subHeading.value)">Save</button>
          </div>
      </div>
  </div>
    <div class="col-md-12  m-2 pr-5 pl-5 description" *ngFor="let des of communityDisplay?.communityDescription">

     
     
      <div class="row" *ngIf="!des.showDescription">
        <div class="edit"  (click)="editCommunityDescription(des._id)"><mat-icon>edit</mat-icon></div>
        <div class="col-md-12">
          <p>{{des.description}}</p>   
        </div>
        
    </div>
        <div class="row" *ngIf="des.showDescription">
            <div class="col-md-10">
              <mat-form-field class="full-width">
                <textarea matInput [value]="des.description" #description placeholder="Description"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-raised-button color="warn"
              (click)="updateCommunityDescription(communityDisplay?._id, des._id, description.value)">Save</button>
            </div>
        </div>

    
    </div>
  </div>
  </div>