<div class="container">
  <form [formGroup]="orderForm">
    <div class="row ">
      <div class="col-md-4 pageBoxLg">
        <div class="row ">
          <div class="col-md-6">Order <b> {{orderModel?.orderId}}</b> Details</div>
          <div class="col-md-6" >
            <!-- <button class="btn btn-primary" (click)="shiprocketCustomOrder(orderModel._id)">Create Order In
              ShipRocket</button> -->
          </div>
          <!--  <div class="col-md-12 space">
          <p>General</p>
        </div> -->

          <div class="col-md-12 space">
            <div>
              <label>Date created</label>

              <b> {{orderModel?.orderDate | date}}</b>
            </div>
          </div>
          <div class="col-md-12 space">
            <div>
              <p>Status</p>
              <!-- </div>
          <div class="row"> -->
              <mat-form-field class="full-width">
                <mat-select placeholder="Status Update" formControlName="statusType"
                  [(ngModel)]="orderModel.orderStatus">
                  <mat-option *ngFor="let data of status" [value]="data">
                    {{data}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="row" *ngIf="orderModel.orderStatus === 'Out For Delivery'">
              <mat-form-field class="full-width">
                <input matInput placeholder="AWB No" formControlName="AWBNo" required>
              </mat-form-field>
            </div>

            <div class="row" *ngIf="orderModel.orderStatus === 'Out For Delivery'">
              <button mat-raised-button color="primary" (click)="updateAWB()">Update Status</button>
            </div>
            <div class="row" *ngIf="orderModel.orderStatus !== 'Out For Delivery'">
              <button mat-raised-button color="primary" (click)="updateStatus()">Update Status</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 pageBoxLg">
        <div class="row ">
          <div class="col-md-12">
            <b>Customer Details</b>
            <div>
              <b> {{customerDetail.firstName}}</b>
            </div>
            <div>
              {{customerDetail.emailId}}
            </div>
            <div>
              {{customerDetail.mobileNumber}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pageBoxLg">
        <div class="row ">
          <div class="col-md-12">
            <div *ngFor="let data of orderModel.addressDetails">
              <b>Delivery Address</b>
              <div>
                <b> {{data.name}}</b>
              </div>
              <div>
                {{data.building}}
              </div>
              <div>
                {{data.streetAddress}}
              </div>
              <div>
                {{data.landmark}}
              </div>
              <div>
                {{data.city}} - {{data.pincode}}
              </div>
              <div>
                {{data.state}}
              </div>
              <div>
                Mobile Number : <b>{{data.mobileNumber}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 pageBoxLg">
        <div class="row">
          <div class="col-md-3">
            <b>Product</b>
          </div>
          <div class="col-md-3">
            <b>Product Name</b>
          </div>
          <div class="col-md-1">
            <b>Price</b>
          </div>
          <div class="col-md-1">
            <b>Quantity</b>
          </div>
          <div class="col-md-2">
            <b>INT SKU Code</b>
          </div>
          <div class="col-md-2">
            <b> SKU Code</b>
          </div>

        </div>


        <div *ngFor="let data of orderModel?.cart">

          <div class="row" *ngFor="let prod of orderModel?.orderedProducts">
            <div class="col-md-3">
              <div *ngFor="let childdata of prod.child">
                <div *ngIf="childdata.INTsku === data.INTsku">
                  <img class="img-fluid" style="width:60px; height: 60px;"
                    [src]="childdata.productImage[0].productImageName">
                </div>
              </div>

            </div>
            <div class="col-md-3">
              <div *ngFor="let childdata of prod.child ">
                <div *ngIf="childdata.INTsku === data.INTsku">
                  <p>{{childdata.productName}}</p>
                </div>
              </div>

            </div>
            <div class="col-md-1">
              <div *ngFor="let childdata of prod.child ">
                <div *ngIf="childdata.INTsku === data.INTsku">

                  <p>{{childdata.price}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-1">
              <div *ngFor="let childdata of prod.child ">
                <div *ngIf="childdata.INTsku === data.INTsku">

                  <p>{{data.qty}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngFor="let childdata of prod.child ">
                <div *ngIf="childdata.INTsku === data.INTsku">

                  <p>{{childdata.INTsku}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngFor="let childdata of prod.child ">
                <div *ngIf="childdata.INTsku === data.INTsku">
                  <p>{{childdata.sku}}</p>
                </div>
              </div>
            </div>


          </div>

        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="orderModel.referAndEarn?.customerCouponDetails">
            <div *ngIf="orderModel.referAndEarn.applier">

              <div class="float-right"> <h6><b>Discount:</b> </h6> {{orderModel.referAndEarn.applierPercetage}} %</div>
            </div>
            <div *ngIf="!orderModel.referAndEarn.applier">
              <div class="float-right"> <h6><b>Discount:</b> </h6> {{orderModel.referAndEarn.applierPercetage}} %</div>
              
            </div>
          </div>
          <div class="col-md-12">
            <p class="float-right"><b>Shipping: {{orderModel?.shipingFees}}</b></p>
          </div>
          <div class="col-md-12 ">

            <p class="float-right"><b>Total: {{orderModel?.total}}</b></p>
          </div>
        </div>


      </div>

    </div>
    <div class="row" *ngIf="orderModel?.paymentMode === 'razorpay'">
      <div class="col-md-12 pageBoxLg">
        <div class="row">
          <div class="col-md-3">
            <b>Payment Id</b>
          </div>
          <div class="col-md-2">
            <b>Payment Gateway OrderId</b>
          </div>
          <div class="col-md-3">
            <b>Mode</b>
          </div>
          <div class="col-md-3">
            <b>Price</b>
          </div>
          <div class="col-md-1">
            <b>Payment Status</b>
          </div>
        </div>
        <div>

          <div class="row">
            <div class="col-md-3">
              <p>{{orderModel?.razorpayPaymentId}}</p>
            </div>
            <div class="col-md-2">
              <p>{{orderModel?.razorPayOrderId}}</p>
            </div>
            <div class="col-md-3">
              <p>{{orderModel?.paymentMode}}</p>
            </div>
            <div class="col-md-3">
              <p>{{orderModel?.total}}</p>
            </div>
            <div class="col-md-1">
              <p>{{orderModel?.paymentStatus}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>