<form [formGroup]="customOrderForm" >
  <div class="pageBoxLg">
    <h4>Custom Order creation</h4>
    
    <!--Buyer details-->
    <h5>Buyer Details</h5> <br>
    <div class="row">
     
      <div class="col-md-4">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Buyer Name" formControlName="buyerName"
            [ngModel]="orderDetails.addressDetails[0]?.name" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Buyer Mobile Number" formControlName="buyerPhoneNumber"
            [ngModel]="orderDetails.addressDetails[0]?.mobileNumber" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Buyer Email Id" formControlName="buyerEmailId" [ngModel]="customerDetail.emailId"
            readonly>
        </mat-form-field>
      </div>
    </div>
    <!--Buyer Address-->
    <h5> Buyer Address</h5> <br>
    <div class="row">
     
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="AddressLine 1" formControlName="buyerAddressLine1"
            [ngModel]="orderDetails.addressDetails[0].building" readonly>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="AddressLine 2" formControlName="buyerAddresLine2"
            [ngModel]="orderDetails.addressDetails[0].streetAddress" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" formControlName="city" [ngModel]="orderDetails.addressDetails[0].city"
            readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Pin code" formControlName="pincode"
            [ngModel]="orderDetails.addressDetails[0].pincode" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="state" formControlName="state" [ngModel]="orderDetails.addressDetails[0].state"
            readonly>
        </mat-form-field>
      </div>
    </div>
    <!--Order Details-->
    <h5>Order Details</h5> <br>
    <div class="row">
     
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Order ID" formControlName="orderId" [ngModel]="orderDetails.orderId" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Order Date" formControlName="orderDate" [ngModel]="orderDetails.orderDate"
            readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Order Channel" formControlName="orderChannel"
            [ngModel]="channelDetails.data[0].name" readonly>
        </mat-form-field>
      </div>
    </div>
    <!--Product details-->
    <h5>Product Details</h5> <br>
      <div class="row border p-2">
        <div class="col-md-4"> <b> Product Name</b></div>
        <div class="col-md-3"> <b> SKU </b></div>
        <div class="col-md-2"> <b> Qty </b></div>
        <div class="col-md-2"> <b> Price </b></div>

      </div>
      <div *ngFor="let data of orderDetails?.cart">
        <div class="row border-bottom border-left border-right p-1" *ngFor="let prod of orderDetails?.orderedProducts">
          <div class="col-md-4">
            <div *ngFor="let childdata of prod.child ">
              <div *ngIf="childdata.INTsku === data.INTsku">
                <p>{{childdata.productName}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div *ngFor="let childdata of prod.child ">
              <div *ngIf="childdata.INTsku === data.INTsku">
                <p>{{childdata.sku}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div *ngFor="let childdata of prod.child ">
              <div *ngIf="childdata.INTsku === data.INTsku">

                <p>{{data.qty}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div *ngFor="let childdata of prod.child ">
              <div *ngIf="childdata.INTsku === data.INTsku">

                <p>{{childdata.price}}</p>
              </div>
            </div>
          </div>


        </div>
      </div>

    <!--Payments-->
    <h5>Payment :</h5> 
    <div class="row">
     
      <div class="col-md-4" *ngIf="orderDetails.paymentMode === 'razorpay'">Prepaid</div>
    </div>
    <!--Pickup Address-->
    <div class="row">
      <div class="col-md-12">
        <h5>Pickup address</h5>
      </div>
      <div class="col-md-6 address" *ngFor="let data of pickupAddress"
        (click)="selectedPickUpAddress(data.pickup_location)">
        <div class="col-md-6">
          <b>Name : </b> {{data.name}}
        </div> 
        <div class="col-md-6">
          <label> <b>Email : </b> </label> {{data.email}}
        </div>
        <div class="col-md-6">
          <label> <b>Phone Number : </b> </label> {{data.phone}}
        </div>
        <div class="col-md-6">
          <label> <b>Address : </b></label> <br>
         {{data.address}} ,
        </div>
        <div class="col-md-6">
          {{data.address_2}} , {{data.city}}
        </div>
        <div class="col-md-6">
          {{data.state}} , {{data.country}} <br> Pincode : {{data.pin_code}}
        </div>
        <div class="col-md-6">
           ID : {{data.id}}
        </div>
        <div class="col-md-6">
          {{data.pickup_location}}
        </div>
        <div class="col-md-6">
          {{data.status}}
        </div>
        <div class="col-md-6">
          {{data.phone_verified}}
        </div>
      </div>
    </div>
    <!--Package weight-->
    <h5>Package weight</h5>
    <div class="row">
     
      <div class="col-md-4">

        <mat-form-field class="example-full-width">

          <input matInput placeholder="Weight" formControlName="weight">
          <mat-hint>(Max 3 digits after decimal place)
            Note: The minimum chargeable weight is 0.50 Kg</mat-hint>
          <mat-error *ngIf="customOrderForm.controls['weight'].errors?.required">
            Weight is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">

        <mat-form-field class="example-full-width">

          <input matInput placeholder="Height" formControlName="height">
          <mat-error *ngIf="customOrderForm.controls['height'].errors?.required">
            Weight is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Length" formControlName="length">
          <mat-error *ngIf="customOrderForm.controls['length'].errors?.required">
            Length is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Width" formControlName="width">
          <mat-error *ngIf="customOrderForm.controls['width'].errors?.required">
            Width is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--Btn event-->
    <button (click)="customOrderCreation()">Add Order</button>
  </div>
</form>