.addButtons{
    margin: 10px;
}
 .addButtons:focus {
  outline: none;
}

.pblabel{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.pageBoxLg{
    border: 1px solid #c8ced3;
    color: #3f51b5;
    padding-top: 0; 
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 13px;
    background-color: #e4e5e65d;
}


th{
    background: #f0f3f5 !important;
}
h5{
font-size: 16px;
font-weight: 600;
}
.matImage{
    width: 301px;
    padding: 10px;
    margin: 10px;
}
.deleteLine{
    color: #FF5778;
}
.deleteIcon{
    background-color: #FF5778;
    color: #fff;
}
