<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Banners </p>
    </div>
<div class="pageBoxLg">
    <label  class="pageBoxLg-label pblabel">Banners</label>
    <div class="col-md-12 text-right">
        <h1>
            <button class="addButton" mat-flat-button color="primary" [routerLink]="['/cms/banner']">
              <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i><a style="margin-left: 10px;">Add Banner</a>
            
            </button>
        </h1>
      </div>
    <mat-card class="pageBoxLg ">
    <form [formGroup]="BannerForm">
      <div class="row">
      
        <div class="col-md-6">
          <h1 style="text-align: start">
          <button class="addButtons" color="primary" mat-flat-button (click)="setPublish()">Publish</button>
          <button class="addButtons" color="primary" mat-flat-button (click)="setUnPublish()">Unpublish</button>
        </h1>
        </div>
      </div>
      <div class="row"   *ngIf="!showNoData">
        <table mat-table [dataSource]="bannerData" class="container-fluid ">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="bannerName">
            <th mat-header-cell *matHeaderCellDef>
              <h5>Images</h5></th>
            <td mat-cell *matCellDef="let element">
                <mat-card class="matImage">
              <img [src]="element.bannerImageName" style="width: 280px; height: 145px;" />
            </mat-card> </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
              <h5>Status</h5> </th>
            <td mat-cell *matCellDef="let element"> {{ element.publish === true ? 'Published' : 'Unpublish' }} </td>
          </ng-container>
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> <h5>Position</h5></th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link</th>
            <td mat-cell *matCellDef="let element"> {{element.link}} </td>
          </ng-container> -->
          <ng-container matColumnDef="bannerTitle">
            <th mat-header-cell *matHeaderCellDef><h5>Title</h5></th>
            <td mat-cell *matCellDef="let element"> {{element.bannerTitle}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="bannerDescription">
            <th mat-header-cell *matHeaderCellDef> ADs Description</th>
            <td mat-cell *matCellDef="let element"> {{element.bannerDescription}} </td>
          </ng-container> -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef><h5>Action</h5></th>
            <td mat-cell *matCellDef="let element">
                <div class=" vcenter form-group">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
          
                    <a class="nav-link selectCursor"(click)="editBanners(element)">Edit</a>
                    <a class="nav-link selectCursor" (click)="openDialog(element)">Delete</a>
                  </mat-menu>
                </div>
                
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="showNoData" class="nodata"> No results found</div>
    </form>
  </mat-card>
</div>


<!-- <div class="pageBoxLg ">
  <form [formGroup]="BannerForm">
    <div class="row">
      <div class="col-md-2">
        <label class="pageBoxLg-label "> Banners</label>
      </div>
      <div class="col-md-4">
        <a class="pageBoxLg-label " [routerLink]="['/cms/banner']">Add Banners</a>
      </div>
    </div>
    <button mat-button (click)="setPublish()">Publish</button>
    <button mat-button (click)="setUnPublish()">UnPublish</button>
    <div class="row">
      <table mat-table [dataSource]="bannerData" class="container-fluid ">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="bannerName">
          <th mat-header-cell *matHeaderCellDef> Banner Image</th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.bannerImageName" style="width: 280px; height: 145px;" /> </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.publish === true ? 'Published' : 'UnPublish' }} </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Banner Position</th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
         <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef> Link</th>
          <td mat-cell *matCellDef="let element"> {{element.link}} </td>
        </ng-container> 
        <ng-container matColumnDef="bannerTitle">
          <th mat-header-cell *matHeaderCellDef> ADs Title</th>
          <td mat-cell *matCellDef="let element"> {{element.bannerTitle}} </td>
        </ng-container>
        <ng-container matColumnDef="bannerDescription">
          <th mat-header-cell *matHeaderCellDef> ADs Description</th>
          <td mat-cell *matCellDef="let element"> {{element.bannerDescription}} </td>
        </ng-container> 
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit </th>
          <td mat-cell *matCellDef="let element"> <button mat-icon-button mat-sm-button color="primary"
              (click)="editBanners(element)">
              <mat-icon> edit </mat-icon>
            </button> </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete </th>
          <td mat-cell *matCellDef="let element"> <button mat-icon-button mat-sm-button color="primary"
              (click)="deleteBanners(element)">
              <mat-icon> delete sweep icon </mat-icon>
            </button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </form>
</div> -->