<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Brand / View Brand </p>
    </div>
<div class="pageBoxLg">
  <div class="row">
      <div style="padding: 7px">
          <label style="padding-top: 8px;padding-bottom: 8px" class="pageBoxLg-label">Brand</label>
      
       
        </div>
    <div class="col-md-12">
      <div class="form-group p-12">
          <div class="col-md-12 ">
              <h1 style="text-align: end;margin: 20px 0px 0px 0px;">
                  <button class="addButton" mat-flat-button color="primary"(click)="addBrand()" > <i
                      class="fa fa-plus-circle fa-2x" aria-hidden="true"></i><a style="margin-left: 10px"> Add Brand</a> </button>
              </h1>
            </div>


      </div>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row"  *ngIf="!showNoData">
  <table mat-table [dataSource]="brandModel" class="container-fluid border text-strong tablesuper">
      <ng-container matColumnDef="brandImage">

          <th mat-header-cell *matHeaderCellDef><h5>Brand Image</h5></th>
          <td mat-cell *matCellDef="let element">
              <mat-card class="imgCard">
                  <img [src]="brandImageUrl + element._id + '/' + element.brandImageName" style="width: 100px; height: 100px;" />
          </mat-card>
        </td>
        </ng-container>
    <ng-container matColumnDef="brandName">

      <th mat-header-cell *matHeaderCellDef><h5>Brand Name</h5></th>
      <td mat-cell *matCellDef="let element">
          {{element.brandName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="brandId">
      <th mat-header-cell *matHeaderCellDef style="width: 300px"><h5>Brand Id</h5></th>
      <td mat-cell *matCellDef="let element"> {{element.brandId}}</td>
    </ng-container>
    <ng-container matColumnDef="brandStatus">
      <th mat-header-cell *matHeaderCellDef><h5>Brand Status</h5></th>
      <td mat-cell *matCellDef="let element"> {{element.brandStatus}} </td>
    </ng-container>
   

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef><h5>Action</h5></th>
      <td mat-cell *matCellDef="let element">
        
          <div class=" vcenter form-group">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
            <mat-menu #menu="matMenu">
    
              <a class="nav-link selectCursor"  (click)="editBrand(element._id)" >Edit</a>
              <a class="nav-link selectCursor" (click)="openDialog(element._id)">Delete</a>
            </mat-menu>
          </div>
       
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="showNoData" class="nodata"> No results found</div>
</div>

<!-- <div class="pageBoxLg">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group p-2">
        <input class="btn btn-sm btn-danger" (click)="addBrand()" type="submit" value="Add Brand">
      </div>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row gridRowHeader display-none-small">
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Brand Image</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Brand Title</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Brand Description</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div>
        <label>Brand Status</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
       
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Action</label>
      </div>
    </div>
  </div>
  <div class="row gridRow" *ngFor="let brand of brandModel">
    <div class="col-md-2 col-6">
        <img [src]="brandImageUrl + brand._id + '/' + brand.brandImageName" style="width: 100px; height: 100px;" />
    </div>
    <div class="col-md-2 col-6">
      {{brand.brandTitle}}
    </div>
    <div class="col-md-2 col-6">
      {{brand.brandDescription}}
    </div>
    <div class="col-md-2 col-6">
      <label class="displayRow">Brand Status:</label>
      {{brand.brandStatus}}
    </div>
    <div class="col-md-2 col-6">

    </div>
    <div class="col-md-1 col-6">
      <mat-icon class="rowEdit" (click)="editBrand(brand._id)">edit</mat-icon>
    </div>
    <div class="col-md-1 col-6">
      <mat-icon class="rowDelete" (click)="deleteBrand(brand._id)">delete</mat-icon>
    </div>
  </div>
</div> -->