.setFullPage {
    max-width: 1440px;
}
.pageBox {
    background-color:     #fff;
    padding: 15px;
}
.contHeadInfo {
    font-size: 1.2rem;
    padding-bottom: 25px;
}
.primarybtn {
    color: white !important;
border-radius: 2px !important;
background-color: #42a2eb !important;
border: solid 1px
    #42a2eb !important;
        border-bottom-color: rgb(66, 162, 235);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    box-shadow: none !important;
}

.gridRow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    margin: 12px 0px;
    background-color: #fff;
    border-radius: 3px;
    font-size: .8rem !important;
  }
  
  .pageBoxLg {
    border: 1px solid #212529;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .pageBoxLg-label {
    background: #212529;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    padding: 2px 20px 2px 20px;
    color: white;
    transition: padding 3s;
    -moz-transition: padding 3s;
    -webkit-transition: padding 3s;
  }
  
  
  .gridEdit {
    cursor: pointer;
  }
  
  .gridRowEditPadding {
    padding-top: 10px;
  }
  
  @media screen and (min-width: 900px) {
    .display-none-large {
      display: none;
    }
  }
  
  @media screen and (max-width: 900px) {
  
    /*Small */
    .pageBox {
      width: 90%;
    }
  
    .pageBoxLg {
      border: 1px solid #212529;
      margin: 20px 20px 20px 20px;
      padding: 20px;
      position: relative;
      background: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
    .pageBoxLg-label {
      background: #212529;
      margin: 0px 0px 0px 20px;
      font-size: 14px;
      padding: 2px 20px 2px 20px;
      color: white;
      transition: padding 3s;
      -moz-transition: padding 3s;
      -webkit-transition: padding 3s;
    }
  
    .display-none-small {
      display: none;
    }
  
  
    .container-fuid-padding-small {
      padding-right: 5px;
      padding-left: 5px;
    }
  
    .editImage {
      position: absolute;
      right: 15px;
    }
  
    .gridLabel {
      color: #212529;
      font-size: 8pt;
    }
  }