<div class="setFullPage pageBox">
  <form [formGroup]="referAndEarnFieldForm"  >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="contHeadInfo">Refer & Earn</h1>
        
      </div>
      <div class="col-md-12">
        <div class="float-right m-2">
          <button type="button" class="btn btn-primary p-2"  (click)="addReferAndEarn()">Save</button>
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input matInput name="Coupon Name" 
           [formControl]="referAndEarnFieldForm.controls['couponName']"   placeholder="Coupon Name" 
           >
           
          <mat-error  
           *ngIf="referAndEarnFieldForm.controls['couponName'].hasError('required') && referAndEarnFieldForm.controls['couponName'].touched"
           >
            Coupon Name is required</mat-error>        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input matInput name="Coupon Description" 
           [formControl]="referAndEarnFieldForm.controls['couponDescription']"   placeholder="Description" 
           >
           
          <mat-error  
           *ngIf="referAndEarnFieldForm.controls['couponDescription'].hasError('required') && referAndEarnFieldForm.controls['couponDescription'].touched"
           >
           
           Description Percentage is required</mat-error>        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <input matInput name="Referrer Percentage" (keypress)=_keyPress($event)   maxlength="2"
           [formControl]="referAndEarnFieldForm.controls['referrerPercentage']"   placeholder="Referrer %" 
           >
           
          <mat-error  
           *ngIf="referAndEarnFieldForm.controls['referrerPercentage'].hasError('required') && referAndEarnFieldForm.controls['referrerPercentage'].touched"
           >
            Referrer Percentage is required</mat-error>        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <input matInput name="Count Of Applier" (keypress)=_keyPress($event) maxlength="5" [formControl]="referAndEarnFieldForm.controls['countOfApplier']"
           placeholder="Count Of Applier"
            >
          <mat-error
            *ngIf="referAndEarnFieldForm.controls['countOfApplier'].hasError('required') && referAndEarnFieldForm.controls['countOfApplier'].touched">
            Count Of Applier is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <input matInput name="Applier Percetage"  (keypress)=_keyPress($event) maxlength="2"  [formControl]="referAndEarnFieldForm.controls['applierPercetage']"  placeholder="Applier Percetage %"
            >
          <mat-error
            *ngIf="referAndEarnFieldForm.controls['applierPercetage'].hasError('required')">
            Applier Percentage is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput matInput name="Start Date" [formControl]="referAndEarnFieldForm.controls['startDate']"  placeholder="Start Date"
           [matDatepicker]="picker1" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error
          *ngIf="referAndEarnFieldForm.controls['startDate'].hasError('required') && referAndEarnFieldForm.controls['startDate'].touched">
          Start Date  is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput matInput name="End Date" 
           [formControl]="referAndEarnFieldForm.controls['endDate']"  placeholder="End Date"
           [matDatepicker]="picker2" placeholder="End Date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error
          *ngIf="referAndEarnFieldForm.controls['endDate'].hasError('required') && referAndEarnFieldForm.controls['endDate'].touched">
          End Date  is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <small class='alert-danger' *ngIf="referAndEarnFieldForm.hasError('notValid')">Not valid</small>
    </div>
  </form>
  
  <div class="container-fluid"  *ngFor="let refer of referAndEarnModel; let i = index">
    <div class="row gridRowHeader" *ngIf=" i === 0">
      <div class="col-md-2 vcenterHeader">
          <div class="form-group">
              <label>Coupon Name</label>
          </div>
      </div>
      <div class="col-md-2 vcenterHeader">
          <div class="form-group">
              <label>Description</label>
          </div>
      </div>
      <div class="col-md-1 vcenterHeader">
          <div class="form-group">
              <label>Referrer (%)</label>
          </div>
      </div>
      <div class="col-md-1 vcenterHeader">
          <div class="form-group">
              <label>Count</label>
          </div>
      </div>
      <div class="col-md-1 vcenterHeader">
        <div class="form-group">
            <label>Applier (%)</label>
        </div>
    </div>
    <div class="col-md-1 vcenterHeader">
      <div class="form-group">
          <label>Start Date</label>
      </div>
  </div>
  <div class="col-md-1 vcenterHeader">
    <div class="form-group">
        <label>End Date</label>
    </div>
</div>
  </div>
  <div class="row gridRow" *ngIf="!refer.showDiv">
    <div class="display-none-large col-6" >
        <label class="gridLabel">Coupon Name</label>
    </div>
    <div class="col-md-2 col-6 vcenter form-group">
        
        {{refer.couponName}}
    </div>
    <div class="display-none-large col-6">
        <label class="gridLabel">Description</label>
    </div>
    <div class="col-md-2 col-6 vcenter form-group">
      {{refer.couponDescription}}
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">Reffer (%)</label>
  </div>
  <div class="col-md-1 col-6 vcenter form-group">
    {{refer.referrerPercentage}}
   </div>
   <div class="display-none-large col-6">
    <label class="gridLabel">Count</label>
</div>
    <div class="col-md-1 col-6 vcenter form-group">
     {{refer.countOfApplier}}
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">Applier Percentage</label>
  </div>
    <div class="col-md-1 col-6 vcenter form-group">
      {{refer.applierPercetage}}
    </div>
    
    <div class="display-none-large col-6">
        <label class="gridLabel">Start Date</label>
    </div>
    <div class="col-md-1 col-6 vcenter form-group">
      {{refer?.startDate | date}}
    </div>
    <div class="display-none-large col-6">
        <label class="gridLabel">End Date</label>
    </div>
    <div class="col-md-1 col-6 vcenter form-group">
        {{refer?.endDate | date}}
    </div>
    <div>
      
      
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">Edit</label>
  </div>
  <div class="col-md-1 col-6 vcenter form-group edit" >
  <mat-icon  (click)="referEdit(refer._id)">edit</mat-icon>
  </div>
  <div class="col-md-1 col-6 vcenter form-group edit">
    <mat-icon color="warn" (click)="referDelete(refer._id)">delete</mat-icon>
    </div>        
</div>
    <div class="row gridRow"  *ngIf="refer.showDiv" >
        <div class="display-none-large col-6" >
            <label class="gridLabel">Coupon Name</label>
        </div>
        <div class="col-md-2 col-6 vcenter form-group">
            
            <mat-form-field appearance="outline">
              <input matInput name="Coupon Name"  [value]="refer.couponName" (keypress)=_keyPress($event) maxlength="2"
                placeholder="Coupon Name" #couponName
                >
            
            </mat-form-field>
        </div>
        <div class="display-none-large col-6" >
          <label class="gridLabel">Description</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
          
          <mat-form-field appearance="outline">
            <input matInput name="Coupon Description"  #couponDescription [value]="refer.couponDescription" 
              placeholder="Coupon Description"
              >
          
          </mat-form-field>
      </div>
        <div class="display-none-large col-6">
            <label class="gridLabel">Referrer (%)</label>
        </div>
        <div class="col-md-1 col-6 vcenter form-group">
          <mat-form-field appearance="outline">
            <input matInput name="Referrer"  #referrerPercentage [value]="refer.referrerPercentage" (keypress)=_keyPress($event) maxlength="2"
              placeholder="Referrer %"
              >
          
          </mat-form-field>
        </div>
        <div class="col-md-1 col-6 vcenter form-group">
          <mat-form-field appearance="outline">
            <input matInput 
            placeholder="Count Of Applier" #countOfApplier
              [value]="refer.countOfApplier" (keypress)=_keyPress($event) maxlength="2"
              placeholder="Count of Applier %"
              >
          </mat-form-field>
        </div>
        <div class="col-md-1 col-6 vcenter form-group">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Applier (%)" #applierPercetage  [value]="refer.applierPercetage"
             (keypress)=_keyPress($event) maxlength="2"
              placeholder="Referrer %"
              >
          </mat-form-field>
        </div>
        
        <div class="display-none-large col-6">
            <label class="gridLabel">Start Date</label>
        </div>
        <div class="col-md-1 col-6 vcenter form-group">
          <mat-form-field>
            <input matInput matInput name="End Date" #startDate
            [value]="refer?.startDate"
             placeholder="Start Date"
             [matDatepicker]="picker3" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="display-none-large col-6">
            <label class="gridLabel">End Date</label>
        </div>
        <div class="col-md-1 col-6 vcenter form-group">
            
            <mat-form-field>
              <input matInput matInput name="End Date" #endDate
              [value]="refer?.endDate"
               placeholder="End Date"
               [matDatepicker]="picker4"   placeholder="End Date">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
        </div>
        <small *ngIf="refer.dateError" class="text-danger">Not valid Date</small>
        <div class="col-md-1 col-6 vcenter form-group">
          <div class="float-right m-2">
            <button type="button" class="btn btn-primary p-2"  
            (click)="updateReferAndEarn(refer?._id, couponName.value, couponDescription.value, referrerPercentage.value, 
            countOfApplier.value, applierPercetage.value, startDate.value, endDate.value)">Save</button>
          </div>      
          
      </div>
      <div class="col-md-1 col-6 vcenter form-group">
        <div class="float-right m-2">
          <button type="button" class="btn btn-danger p-2"  (click)="cancelReferAndEarn()">Cancel</button>
        </div>      
        
    </div>           
</div>
  </div>
</div>