<div class="pageBoxLg">
  <div class="row">
    <div class="col-md-4 form-group">
        <mat-form-field>
            <mat-label>Select VendorName</mat-label>
            <mat-select (selectionChange)="selectVendor($event)">
              <mat-option *ngFor="let data of vendorData" [value]="data">{{data.vendorName}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4 form-group"></div>
    <div class="col-md-4 form-group" *ngIf="isShow">
      <button class="btn btn-primary" (click)="onDownload()">Download</button>
    </div>
  </div>
  <div class="row" *ngIf="isShow">
    <div class="col-md-2 form-group">
      <label>VendorName</label>
    </div>
    <div class="col-md-4 form-group">
      {{vendorHolder?.vendorName}}
    </div>
    <div class="col-md-2 form-group">
      <label>Order Number</label>
    </div>
    <div class="col-md-4 form-group">
      {{orderData.orderId}}
    </div>
    <div class="col-md-2 form-group">
        <label>Vendor Code</label>
      </div>
      <div class="col-md-4 form-group">
        {{vendorHolder?.vendorCode}}
      </div>
      <div class="col-md-2 form-group">
        <label>PO Type</label>
      </div>
      <div class="col-md-4 form-group">
          <mat-form-field>
              <mat-label>Select the Field</mat-label>
              <mat-select (selectionChange)="filterByOption($event)">
                <mat-option *ngFor="let data of poSettingData?.poType" [value]="data">{{data}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-md-2 form-group">
          <label>Vendor Address</label>
        </div>
        <div class="col-md-4 form-group" *ngFor="let data of vendorHolder?.officeAddressDetails">
          {{data.officeAddressLine1}}
        </div>
        <div class="col-md-2 form-group">
          <label>PO Date</label>
        </div>
        <div class="col-md-4 form-group">
          {{poDate | date}}
        </div>
        <div class="col-md-2 form-group">
            <label>EmailID</label>
          </div>
          <div class="col-md-4 form-group">
            {{vendorHolder?.vendorEmailId}}
          </div>
          <div class="col-md-2 form-group">
            <label>PO Expiry Date</label>
          </div>
          <div class="col-md-4 form-group">
           {{poExpiryDate | date}}
          </div>
          <div class="col-md-2 form-group">
              
            </div>
            <div class="col-md-4 form-group">
              
            </div>
            <div class="col-md-2 form-group">
              <label>Bill To</label>
            </div>
            <div class="col-md-4 form-group">
              {{poSettingData?.billingAddress}}
            </div>
            <div class="col-md-1 form-group">
              <label>CST No</label>
            </div>
            <div class="col-2 form-group" *ngFor="let data of vendorHolder?.paymentDetails">
              {{data.cstNo}}
            </div>
            <div class="col-md-1 form-group">
              <label>Country</label>
            </div>
            <div class="col-md-2">
              <input class="form-control" #country type="text">
            </div>
            <div class="col-md-2 form-group" >
              <label>GSTIN</label>
            </div>
            <div class="col-md-4 form-group" >
              {{poSettingData?.gstIn}}
            </div>
            <div class="col-md-1 form-group" >
                <label>GSTIN</label>
              </div>
              <div class="col-2 form-group" *ngFor="let data of vendorHolder?.paymentDetails">
                  {{data.gstNo}}
              </div>
              <div class="col-md-1 form-group">
                <label>Currency Type</label>
              </div>
              <div class="col-md-2" *ngFor="let data of vendorHolder?.paymentDetails">
                {{data.currency}}
              </div>
              <div class="col-md-2 form-group">
                <label>Contact Us</label>
              </div>
              <div class="col-md-4 form-group">
                {{poSettingData?.contactNo}}
              </div>
              
  </div>
  <div class="row" *ngIf="isShow">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">S.NO</th>
              <th scope="col">SKU Code</th>
              <th scope="col">Vendor Item No</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Size</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit of Measure</th>
              <th scope="col">Discount Percentage</th>
              <th scope="col">CGST Rate</th>
              <th scope="col">CGST Amount</th>
              <th scope="col">SGST Rate</th>
              <th scope="col">SGST Amount</th>
              <th scope="col">IGST Rate</th>
              <th scope="col">IGST Amount</th>
              <th scope="col">Net Amount</th>
              <th scope="col">Estimated Shipment Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of productHolder; let i = index">
              <td>{{i + 1}}</td>
              <td>{{data.sku}}</td>
              <td></td>
              <td>{{data.vp}}</td>
              <td>{{data.sizeVariant}}</td>
              <td>{{data.qty}}</td>
              <td>Each</td>
              <td>{{data.discount}}</td>
              <td scope="row">{{data.cgstRate}}</td>
              <td>{{data.cgstAmount}}</td>
              <td>{{data.sgstRate}}</td>
              <td>{{data.sgstAmount}}</td>
              <td scope="row">{{data.igstRate}}</td>
              <td>{{data.igstAmount}}</td>
              <td>{{data.netAmount}}</td>
              <td>{{data.estDate | date}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>-->
            <tr>
              <th colspan="4">Total</th>
              <td></td>
              <th>{{totalQty}}</th>
              <td></td>
              <td></td>
              <td></td>
              <th>{{totalCGSTAmount}}</th>
              <td></td>
              <th>{{totalSGSTAmount}}</th>
              <td></td>
              <th>{{totalIGSTAmount}}</th>
              <th>{{totalNetAmount}}</th>
              <td></td>
            </tr> 
          </tbody>
        </table>
  </div>
  <div class="row" *ngIf="isShow">
    <div class="col-md-6 form-group">
      <textarea placeholder="Special Instruction" #inst class="form-control" cols="100" rows="10"></textarea>
    </div>
    <div class="col-md-6 form-group">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="7">Grand Total</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Net Amount</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{totalNetAmount}}</td>
              </tr>
              <tr>
                <th scope="row">Freight</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Tax</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{totalTax}}</td>
              </tr>
              <tr>
                  <th scope="row">Total Amount</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>{{totalAmount}}</th>
                </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
