.loginContainer {
    margin: 0 0 0 0;
    text-align: right;
    padding: 70px;
    float: none;
    display: inline-block;
    width: 100%;
}

.loginBlock {
    display: inline-block;
    width: 700px;
    background: #fff;    
    padding: 40px;
    margin-right: 0;
    text-align: center;
    border: solid 1px #e5e9ef;
}
.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}