


<div class="container">
  <div class="row ">
    <div class="col-md-4 loginContainer" >
      <h5 style="color: #353535;">Banner</h5>
      <div class="row">
          <div class="col-md-12">
              <img class="img-fluid" [src]="showImage">
          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <input type="file" id="file" (change)="handleFileInput64Base($event.target.files)">
              </div>
          </div>
      </div>
    </div>
      <div class="col-md-8 loginContainer">
          <div class="loginBlock">
              <div class="page-wrap mat-bg-primary">
                  <div class="session-form-hold">
                
                      <form [formGroup]="communityFieldForm" (ngSubmit)="addCommunityPage()">
                      
                          <div class="">
                              <mat-form-field class="full-width">
                                  <input matInput name="heading" [formControl]="communityFieldForm.controls['heading']"
                                      placeholder="Heading" value="">
                                  <mat-error
                                      *ngIf="communityFieldForm.controls['heading'].hasError('required') && communityFieldForm.controls['heading'].touched">
                                      Heading is required</mat-error>
                              </mat-form-field>



                              <!-- <small 
                              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
                              class="form-error-msg"> Username is required </small> -->
                          </div>
                          <div class="">
                              <mat-form-field class="full-width">
                                  <input type="subHeading" name="subHeading" matInput
                                      [formControl]="communityFieldForm.controls['subHeading']" placeholder="Sub Heading" value="">
                                  <mat-error
                                      *ngIf="communityFieldForm.controls['subHeading'].hasError('required') && communityFieldForm.controls['subHeading'].touched">
                                      Sub Heading is required</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="">
                            <div class="form-group p-2">
                              <input class="btn btn-sm btn-danger"  style="height: 30px;width:100px" (click)="addForm()" type="button" value="Add Field">
                            </div>
                          </div>
                          <div  formArrayName="communityDescription">
                            <div  *ngFor="let account of FieldsValueForms.controls; let i=index" [formGroupName]="i">
                              <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="full-width">
                                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                <button type="button" mat-raised-button color="primary" style="background-color:rgb(223, 49, 49)" 
                                (click)="deleteInvoiceParticulars(i)"><mat-icon>cleare</mat-icon></button>
                              </div>
                              </div>
                             
                              </div>
                              </div>
                              
                          <button mat-raised-button class="full-width mt-3 mb-5"
                              style="width: 100%; background-color: #13586f; color: white">Create</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
