<!--Display in table format-->

<div class="container">
    <h3 class="text-center">Channel List</h3>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Last Order Sync</th>
                <th>Last Inventory Sync</th>
                <th>Connection Status</th>
                <th>Last Connection Sync</th>
                <th>Connection Response</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{channelDetails[0].name}}</td>
                <td>{{channelDetails[0].orders_synced_on}}</td>
                <td>{{channelDetails[0].inventory_synced_on}}</td>
                <td class="text-center">
                    <span *ngIf="channelDetails[0].connection === 1"> 
                        <i style="color: green; font-size: 25px;" class="fa fa-check-circle" aria-hidden="true"></i>
                       </span>
                    <span *ngIf="channelDetails[0].connection === 0">
                        <i style="color: red; font-size: 25px;" class="fa fa-times-circle" aria-hidden="true"></i>
                    </span>
                    </td>
                <td>{{channelDetails[0].channel_updated_at}}</td>
                <td>{{channelDetails[0].connection.response}}</td>
                <td>{{channelDetails[0].status}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div >
