<!-- <div class="container"  >
  <h5 class="text-center"> Pickup Address Details</h5>
  <div class="row address" *ngFor="let data of pickupAddressDetails">
    <div class="col-md-4" >
     
     <label>Name: </label> {{data.name}} <br>
     <label>Email:</label> {{data.email}} <br>
     <label>Phone Number:</label> {{data.phone}} <br>
    </div>
      
    <div class="col-md-4"> 
      <label>Address :</label> <br> {{data.address}} ,
      {{data.address_2}} {{data.city}}, {{data.state}},
      {{data.country}} , {{data.pin_code}}

      </div>
      <div class="col-md-4"> 
     Location ID: {{data.id}} <br>
    
     Pickup Location: {{data.pickup_location}} <br>
    
   
      <span *ngIf="data.phone_verified  == 0"> Phone Number is Not Verified</span>
      
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row" >
    <div class="col-md-12" *ngFor="let data of pickupAddressDetails">
  <mat-accordion >
    <mat-expansion-panel>
      
      <mat-expansion-panel-header>
        <b>{{data.pickup_location}} </b>
        <span class="pl-5" *ngIf="data.status == 1 || data.status == 2"> <span style="background-color: green; color:white;padding: 18px;">Active</span> </span>
        <span class="pl-5"> Location ID: <b>{{data.id}}</b> </span>
        <span class="pl-5" >
          Primary Address <i *ngIf="data.status == 2" style="color: blue; font-size: 18px;" class="fa fa-check-circle" aria-hidden="true"></i> 
        </span>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-4">
          <b>Name:</b> {{data.name}} <br> <br>
          <b>Address:</b> {{data.address}} <br> <br>
          <b>State</b> {{data.state}}
        </div>
        <div class="col-md-4">
          <b>Phone:</b> {{data.phone}} <span *ngIf="data.phone_verified  == 0" style="font-size: 12px;"> (Phone Number is Not Verified)</span> <br> <br>
          <b>Address 2:</b> {{data.address_2}} <br> <br>
          <b>Country:</b> {{data.country}}
        </div>
        <div class="col-md-4">
          <b>Email:</b> {{data.email}} <br> <br>
          <b>City:</b> {{data.city}} <br> <br>
          <b>Pincode:</b> {{data.pin_code}}
        </div>
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  </div>
</div>