<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Order / View Order </p>
    </div>


<div class="pageBoxLg">
  <!-- <div class="row">

    <div class="orders">
      <a (click)=getAllOrders()>All({{allOrderCount}})</a>

    </div>
    <div class="orders">
      <a (click)="viewNewOrders()">New({{newOrderCount}})</a>

    </div>
    <div class="orders">
      <a (click)="viewActiveOrders()">Processing({{activeOrderCount}})</a>

    </div>
    <div class="orders">
      <a (click)="viewCompletedOrders()">Completed({{completedOrderCount}})</a>

    </div>
    <div class="orders">
      <a (click)="viewCancelledOrders()">Cancelled({{cancelledOrderCount}})</a>

    </div>


   

  </div> -->
  <div class="row">
    <div class="col-md-4">
      <div>
        <input class="btn btn-sm btn-danger" (click)="addForm()" type="button" value="Add Filter">
      </div>
      <div>
        <!-- <p>test</p> -->
        <div class="row gridRow" *ngFor="let account of productOptionValueForms.controls; let i=index"
        [formGroupName]="i">
        <div class="col-md-2">
          
            <mat-form-field>
                <mat-label>Select the Field</mat-label>
                <mat-select (selectionChange)="filterByOption($event)">
                  <mat-option *ngFor="let data of filterColumns" [value]="data">{{data}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>SKU</mat-label>
              <input matInput formControlName="value" placeholder="value">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1" style="padding: 10px;">
          <div class="form-group">
            <a (click)="deleteRequirements(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <input matInput placeholder="Search Orders" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
      </div>
     
  </div>
  <div class="row">
      <table mat-table [dataSource]="orderModel" matSort class="container-fluid ">
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> <h5>Orders</h5>

        </th>
        <td mat-cell *matCellDef="let element">

         <a (click)="showOrderDetails(element)">{{element.orderId}}</a>  </td>
      </ng-container>   
      <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef><h5>view</h5> </th>
          <td mat-cell *matCellDef="let element">
  
              <a (click)="showOrderDetails(element)"><mat-icon>visibility   </mat-icon> </a>    </td>
        </ng-container>
      <ng-container matColumnDef="date">

        <th mat-header-cell *matHeaderCellDef> <h5>Date</h5> 


        </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date}} </td>
      </ng-container>
    <!--   <ng-container matColumnDef="paymentStatus">

        <th mat-header-cell *matHeaderCellDef> Payment Status <br>


        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentStatus }} </td>
      </ng-container> -->

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status<br>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="payMode">
        <th mat-header-cell *matHeaderCellDef> Payment Mode<br>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentMode === 'COD' ? 'COD' : 'Online'}} </td>
      </ng-container>
      <ng-container matColumnDef="payStatus">
        <th mat-header-cell *matHeaderCellDef> Payment Status<br>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef><h5>Total</h5>

        </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>