<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Category / Sub Category</p>
    </div>
<mat-card class="pageBoxLg" style="background: #e4e5e6;">
  <!-- <label>
    <label  class="pageBoxLg-label pblabel">Sub Category</label>
  </label> -->
  <div class="categoryRow row">
      <div class="col-md-3"></div>
      <!-- <h5 class="hfive">View Sub Category</h5> -->
    <div class="form-group col-sm-12 col-md-3">
      <div class="textContainer select-super-category ">
        <mat-form-field>
          <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
            placeholder="Select super category">
            <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
              {{category.categoryName | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-3">
      <div class="textContainer select-main-category">
        <mat-form-field>
          <mat-select #selectMainCatVal (selectionChange)="getSubCategory(selectMainCatVal.value)"
            placeholder="Select main category">
            <mat-option *ngFor="let category of mainCategoryModel" [value]="category._id">
              {{category.mainCategoryName | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  

  <div class="col-md-3  text-right">
      <h1 style="text-align: end">
          <button class="addButton" mat-flat-button color="primary" (click)="addSubCategorys()"> <i
              class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <a style="margin-left: 10px;">Add Sub Category</a> </button>
      
      </h1>
    </div>
  </div>

  <div class="categoryRow">
    <table mat-table [dataSource]="subCategoryData" class="container-fluid border text-strong">
      <ng-container matColumnDef="imageTab">
        <th mat-header-cell *matHeaderCellDef><h5>Sub Category Image</h5></th>
        <td mat-cell *matCellDef="let element">
            <mat-card class="imgCard">
          <img [src]="categoryImageUrl + element._id + '/' + element.subCategoryImageName"
            style="width: 150px; height: 145px;" />
            </mat-card>
        </td>
      </ng-container>
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef><h5> Sub Category Name</h5></th>
        <td mat-cell *matCellDef="let element">{{element.subCategoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef><h5>Description</h5></th>
        <td mat-cell *matCellDef="let element">
         {{element.subCategoryDescription}}
        </td>
      </ng-container>
      <ng-container matColumnDef="metatag">
        <th mat-header-cell *matHeaderCellDef><h5>Meta Tag Details</h5></th>
        <td mat-cell *matCellDef="let element">
         title: {{element.metaTagTitle}}<br>
          Description: {{element.metaTagDescription}}
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><h5>Action</h5> </th>
        <td mat-cell *matCellDef="let element"> <!-- <button mat-icon-button mat-sm-button color="primary"
            (click)="deleteSubCategory(element)"> -->
            <div class=" vcenter form-group">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
        
                  <!-- <a class="nav-link" >View</a>
                  <a class="nav-link" >Update Status</a> -->
                  <a class="nav-link selectCursor"  [routerLink]="['/category/editsubcategory/',headCatSelected, getMainCategoryId, element._id]" >Edit</a>
                  <a class="nav-link selectCursor" (click)="openDialog(element._id)">Delete</a>
                </mat-menu>
              </div>
            <!-- <mat-icon>delete</mat-icon> -->
          <!-- </button> --></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>




<!-- <div class="pageBoxLg">
  <label class="pageBoxLg-label">Sub Category</label>
  <form [formGroup]="subCategoryForm" novalidate>
    <div class="flex categoryRow">
      <div class="card">
        <div class="flex categoryBody">
          <div class="categoryField">
            <div class="form-group">
          
              <mat-label>Sub Category Image</mat-label>
              <input type="file" (change)="handleFileInput($event.target.files)">
              <div class="row">
                <div class="col-md-12 pb-2" *ngFor="let url of urls">
                  <mat-card style="height: 105px; width:105px">
                    <img class="img-fluid" [src]="url" height="100px" width="100px" />
                  </mat-card>
                </div>
              </div>
       
            </div>
          </div>
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field>
                <mat-select #selectElem (selectionChange)="setNewUser(selectElem.value)"
                  placeholder="Select Super Category">
                  <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                    {{category.categoryName | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field>
                <mat-select #selectMain (selectionChange)="selectMainCategory(selectMain.value)"
                  placeholder="Select Main Category">
                  <mat-option *ngFor="let category of mainCategoryModel" [value]="category._id">
                    {{category.mainCategoryName | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">
            <div *ngIf="selectedDisable">
              <small style="color: red">Select Category </small>
            </div>
          </div>
          <div class="categoryField">

          </div>
        </div>
      </div>
    </div>

    <div class="flex categoryRow">
      <div class="card">
        <div class="flex categoryBody">
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field class="outline">
                <input matInput placeholder="Sub Category Name" formControlName="subCategoryName" required #name>
                <button mat-button matSuffix mat-icon-button aria-label="Sub Category Name">
                </button>
                <mat-error *ngIf="subCategoryForm.controls['subCategoryName'].errors?.required">
                  Sub Category Name is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field class="outline">
                <input matInput placeholder="Sub Category Description" formControlName="subCategoryDescription" #desc>
                <button mat-button matSuffix mat-icon-button aria-label="Sub Category Description">
                </button>
                <mat-error *ngIf="subCategoryForm.controls['subCategoryDescription'].errors?.required">
                  Sub Category Description
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field class="outline">
                <input matInput placeholder="Meta Tag Title" formControlName="metaTagTitle">
                <button mat-button matSuffix mat-icon-button aria-label="Meta Tag Title">
                </button>
                <mat-error *ngIf="subCategoryForm.controls['metaTagTitle'].errors?.required">
                  Sub Category Description
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">
            <mat-form-field class="outline">
              <input matInput placeholder="Meta Tag Title" formControlName="metaTagDescription">
              <button mat-button matSuffix mat-icon-button aria-label="Meta Tag Title">
              </button>
              <mat-error *ngIf="subCategoryForm.controls['metaTagDescription'].errors?.required">
                Sub Category Description
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="grid" formArrayName="attribute">
          <div class="row gridRow">
            <div class="col-md-6">
              <div class="form-group p-2">
                <input class="btn btn-sm btn-danger" (click)="addForm()" type="button" value="Add Field">
              </div>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <input (click)="addSubCategory()" [disabled]="!subCategoryForm.valid" class="btn btn-danger"
                  type="submit" value="Save">
              </div>
            </div>
          </div>
          <div class="row gridRow" *ngFor="let fie of subCategoryForm['controls'].attribute['controls']; let i=index"
            [formGroupName]="i">
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field appearance="outline" >
                  <mat-label>Field Name</mat-label>
                  <input matInput formControlName="fieldName" placeholder="Field Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
    
                <mat-radio-group  (change)="selectDropdown($event, i)" [(value)]="subCategoryForm['controls'].attribute['controls'][i].value.fieldType"
                  aria-labelledby="example-radio-group-label" class="example-radio-group"
                 >
                  <mat-radio-button class="example-radio-button" 
                   *ngFor="let field of fieldType" [value]="field">
                    {{field}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-md-2">
          <div class="form-group">
            <mat-radio-group (change)="selectTypeSetting($event, i)"
              [(value)]="subCategoryForm['controls'].attribute['controls'][i].value.fieldSetting"
              aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let def of fieldSettingType" [value]="def">
                {{def}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
            <div class="col-md-3"> 
            <div class="row">
            <div class="col-md-12" *ngIf="subCategoryForm['controls'].attribute['controls'][i].value.fieldType !== 'Text'">
            
                   
              <input class="btn btn-sm btn-danger" (click)="addFiledValue(i)" type="button" value="Field Search Value">
              <div  formArrayName="fieldValue">
                <div class="row" *ngFor="let Y of fie['controls'].fieldValue['controls']; let iy=index">
                  <div class="col-md-9" formGroupName="{{iy}}">
                   
                   <mat-form-field appearance="outline">
                      <mat-label>Field Search Value</mat-label>
                      <input matInput formControlName="fieldAttributeValue" placeholder="Field Search Value">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <a (click)="removeFiledValue(i, iy)">
                      <mat-icon>clear</mat-icon>
                    </a>
                  </div>
                    
                </div>
                </div>
               
               
            </div>
            
          </div>
        </div>
          
            <div class="col-md-2" style="padding: 10px;">
                <div class="form-group">
                  <a (click)="deleteAttribute(i)">
                    <mat-icon>clear</mat-icon>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="categoryRow">
      <label>View Sub Category</label>
      <div class="form-group col-sm-12 col-md-2">
        <div class="textContainer">
          <mat-form-field>
            <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
              placeholder="Select super category">
              <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                {{category.categoryName | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-2">
        <div class="textContainer">
          <mat-form-field>
            <mat-select #selectMainCatVal (selectionChange)="getSubCategory(selectMainCatVal.value)"
              placeholder="Select main category">
              <mat-option *ngFor="let category of mainCategoryModel" [value]="category._id">
                {{category.mainCategoryName | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

  </form>
  <div class="categoryRow">
    <table mat-table [dataSource]="subCategoryData" class="container-fluid border text-strong">
      <ng-container matColumnDef="imageTab">

        <th mat-header-cell *matHeaderCellDef> Image</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="categoryImageUrl + element._id + '/' + element.subCategoryImageName"
            style="width: 180px; height: 145px;" />
        </td>
      </ng-container>
      <ng-container matColumnDef="categoryName">

        <th mat-header-cell *matHeaderCellDef> Sub Category Name</th>
        <td mat-cell *matCellDef="let element"> {{element.subCategoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          <small>{{element.subCategoryDescription}}</small>
        </td>
      </ng-container>
      <ng-container matColumnDef="metatag">
        <th mat-header-cell *matHeaderCellDef>Meta Tag Details</th>
        <td mat-cell *matCellDef="let element">
          <small>title: {{element.metaTagTitle}}</small><br>
          <small>Description: {{element.metaTagDescription}}</small>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element"> 
          <div class=" vcenter form-group">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
    
              <a class="nav-link selectCursor"  [routerLink]="['/category/editsubcategory/',headCatSelected, getMainCategoryId, element._id]" >Edit</a>
              <a class="nav-link selectCursor" (click)="deleteSubCategory(element)">Delete</a>
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div> -->