.selectValue {
    cursor: pointer;
}
.ctrlCard{
    margin: 10px;
    background-color: #f0f3f5;
}
.cancleNow{
    background-color: #FF5778;
    color: #fff;
}

.deleteNow{
    background-color: red;
    color: #fff;
}
.cancleNow:focus{
    outline: none;
}
.imgCard{
    width: 100%;
    height: auto;
    margin: 10px;
    }