.detailslabel{
    font-size: 18px;
    /* padding-left: 1%; */
    color: black
  }
  .datapolicy{
    font-size: 16px;
  }
  .pageBox2{
  box-shadow: 2px;
  
  margin-left: 17%;
  }
  .borDer {
    border: 1px black solid;
    background-color: lightgrey;
}