<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Footer </p>
    </div>
<div class="pageBoxLg ">
  <div class="row">
      <div style="padding: 7px">
          <label style="padding-top: 8px;padding-bottom: 8px" class="pageBoxLg-label">Footer Details</label>
      
        </div>
      
        <div class="col-md-11 text-right" *ngIf="!hideAddFooter">
            <h1>
                <button class="addButton" mat-flat-button color="primary" [routerLink]="['/cms/footer']">
                  <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i><a style="margin-left: 10px;">Add Footer</a>
                
                </button>
            </h1>
          </div>

 
  </div>
  <form [formGroup]="footerEditForm" novalidate style="padding-top:60px">
    <div class="row">
      <div class="col-md-6 pageBoxl">
        <div class="row" *ngFor="let data of footerModel">
            
          <div class="col-md-12 " *ngIf="!data.detailsUpdate">
            <div class="row">
              <div class="form-group detailslabel col-md-8">
            
                <label> <b class="detailslabel">Details</b> </label>
           
              </div>
              <div    class=" form-group detailslabel col-md-4">Edit
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Details"
                  (click)="editAddress(data)">
                  <mat-icon> edit </mat-icon>
                </button>
              </div>
            </div>
            <div class="row">
                <div class="form-group datapolicy col-md-6">
            
                  <label> <b>Address</b> </label>
               
                </div>
                <div class=" form-group datapolicy col-md-6">
                    <b><small>: {{data.address}}</small></b>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group datapolicy col-md-6">
                 
                    <label> <b>Contact No</b> </label>
                
                  </div>
                  <div class=" form-group datapolicy col-md-6">
                      <b><small>: {{data.contactNo}}</small></b>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group datapolicy col-md-6">
                  
                      <label> <b>Alternative Contact No</b> </label>
                
                    </div>
                    <div class=" form-group datapolicy col-md-6">
                        <b><small>: {{data.alternativeContactNo}}</small></b>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group datapolicy col-md-6">
                      
                        <label> <b>Email ID</b> </label>
                      
                      </div>
                      <div class=" form-group datapolicy col-md-6">
                          <b><small>: {{data.mailId}}</small></b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group datapolicy col-md-6">
                       
                          <label> <b>Map</b> </label>
                       
                        </div>
                        <div class=" form-group datapolicy col-md-6">
                            <b><small>: {{data.map}}</small></b>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group datapolicy col-md-6">
                        
                            <label> <b>About Us Preview</b> </label>
                          
                          </div>
                          <div class=" form-group datapolicy col-md-6">
                              <b><small>: {{data.aboutUsPreview}}</small></b>
                            </div>
                        </div>

                      </div>
           
            <div *ngIf="data.detailsUpdate" class="col-md-12">
       
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput hidden [value]="data._id" formControlName="id" #id>
                  <input matInput placeholder="Address" [value]="data.address" formControlName="address" #address>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Contact Number" [value]="data.contactNo" type="number" formControlName="contactNo"
                    #contactNo>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Alternative Contact Number" type="number" [value]="data.alternativeContactNo"
                    formControlName="alternativeContactNo" #alternativeContactNo>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email ID" [value]="data.mailId"  [email]="true" type="email" formControlName="mailId" #mailId>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Map Source" [value]="data.map" formControlName="map" #map>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="About Us Preview" formControlName="aboutUsPreview" style="width: 2500px" [value]="data.aboutUsPreview" #abt></textarea>
                  </mat-form-field>
                </div>
                <div class=" form-group col-md-12">
                    <button  mat-flat-button color="primary"  matTooltip="Update  Details"
                      (click)="footerEditForm.valid && updateDetails(id.value, address.value, contactNo.value,
                       alternativeContactNo.value, mailId.value, map.value , abt.value)">
                       Update
                    </button>
                    <button style="margin-left: 10px;" mat-flat-button color="primary" matTooltip="Cancel" (click)="cancelDetails(data)">
                      Cancel
                    </button>
                  </div>



            </div>
         
        </div>
      </div>
    
     
      <div class="col-md-6 pageBoxl">
        <div class="row" *ngFor="let data of footerModel">
          <div class="col-md-12" *ngIf="!data.socialUpdate">
              <div class="row">
                  <div class="form-group detailslabel col-md-4">
                 
                    <label> <b class="detailslabel">Social Media Link</b> </label>
                 
                  </div>
                  <div  style="margin-left: 28%"  class=" form-group detailslabel col-md-4">Edit
                    <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Details"
                    (click)="editSocialMedia(data)">
                      <mat-icon> edit </mat-icon>
                    </button>
                  </div>
              
                </div>
                <div class="row">
                    <div class="form-group datapolicy col-md-6">
                   
                      <label> <b>Instagram Link</b> </label>
                   
                    </div>
                    <div class=" form-group datapolicy col-md-6">
                        <b><small>: {{data.instagramLink}}</small></b>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group datapolicy col-md-6">
                     
                        <label> <b>Facebook Link</b> </label>
                     
                      </div>
                      <div class=" form-group datapolicy col-md-6">
                          <b><small>: {{data.facebookLink}}</small></b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group datapolicy col-md-6">
                      
                          <label> <b>Pintrest Link</b> </label>
                     
                        </div>
                        <div class=" form-group datapolicy col-md-6">
                            <b><small>: {{data.pintrestLink}}</small></b>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group datapolicy col-md-6">
                        
                            <label> <b>GooglePlus Link</b> </label>
                         
                          </div>
                          <div class=" form-group datapolicy col-md-6">
                              <b><small>: {{data.googlePlusLink}}</small></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group datapolicy col-md-6">
                           
                              <label> <b>Twitter Link</b> </label>
                          
                            </div>
                            <div class=" form-group datapolicy col-md-6">
                                <b><small>: {{data.twitterLink}}</small></b>
                              </div>
                          </div>
               
                        </div>


          <div class="col-md-12" *ngFor="let data of footerModel">
            <div *ngIf="data.socialUpdate">
       
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Instagram Link" hidden [value]="data._id" formControlName="id" #id>
                  <input matInput  formControlName="instagramLink"
                    [value]="data.instagramLink" #instagramLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Facebook Link" [value]="data.facebookLink" formControlName="facebookLink"
                    #facebookLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Pintrest Link" [value]="data.pintrestLink" formControlName="pintrestLink"
                    #pintrestLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Google Plus Link" [value]="data.googlePlusLink"
                    formControlName="googlePlusLink" #googlePlusLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Twitter Link" [value]="data.twitterLink" formControlName="twitterLink"
                    #twitterLink>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                  <button
                  mat-flat-button color="primary"  matTooltip="Update  Social Media Link"
                    (click)="updateSocialDetails(id.value, instagramLink.value, facebookLink.value, pintrestLink.value, googlePlusLink.value, twitterLink.value )">
                    Update
                  </button>
                  <button style="margin-left: 10px"
                  mat-flat-button color="primary"  matTooltip="Cancel"
                    (click)="cancelSocialDetails(data)">
                   Cancel
                  </button>
                </div>


            </div>
      
        </div>
      
      </div>
      </div>
    </div>

      <div class="col-md-6" *ngFor="let data of footerModel">
        <div *ngIf="!data.logoUpdate">
          <label>Logo </label> <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Logo"
            (click)="editLogo(data)">
            <mat-icon style="text-align: center"> edit </mat-icon>
          </button>
          <div>
            <img [src]="data.logoImageName" style="width: 280px; height: 245px;" />
          </div>
        </div>
        <div *ngIf="data.logoUpdate">
          <input matInput hidden [value]="data._id" formControlName="id" #id>
          <label>Logo </label>
          <div>
            <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
          </div>
          <div>
              <div *ngIf="showImageError">
                  <p style="color: crimson"> Required Image Size </p>
                </div>
            <input type="file" name="file" class="btn btnPink btn-block" id="file"
              (change)="handleFileInput($event.target.files)">
          </div>
          <div>
            <button 
            mat-flat-button color="primary"  matTooltip="Update  Logo "
              (click)="checkImageDimension(id.value)">
              Update
            </button>
            <button style="margin-left: 10px"
            mat-flat-button color="primary"  matTooltip="Cancel Logo" (click)="cancelLogo(data)">
              Cancel
            </button>
          </div>
          <div class="row form-group borDer p-5">
              <div class="col-md-12">
                <label><h3>Image Dimension</h3></label>  
              </div>
              <div class="col-md-12">
                440 X 255
              </div>
            </div>
        </div>
      </div>
  </form>
</div>





<!-- <div class="pageBoxLg ">
  <div class="row">
    <div class="col-md-2">
      <label class="pageBoxLg-label "> Footer Details</label>
    </div>
    <div class="col-md-4" *ngIf="!hideAddFooter">
      <a class="pageBoxLg-label " [routerLink]="['/cms/footer']">Add Footer Details</a>
    </div>
  </div>
  <form [formGroup]="footerEditForm" novalidate style="padding-top:60px">
    <div class="row">
      <div class="col-md-5 pageBoxl">
        <div class="row" *ngFor="let data of footerModel">
          <div class="col-md-6 " *ngIf="!data.detailsUpdate">
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <b>Details</b> </label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <small>Address</small> </label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <small>Contact No</small></label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <small>Alternative Contact No</small></label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <small>Email ID</small></label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <label><small>Map</small></label>
              </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group">
                  <label><small>About Us Preview</small></label>
                </div>
              </div>
          </div>
          <div class="col-md-6" *ngFor="let data of footerModel">
            <div *ngIf="!data.detailsUpdate">
              <div class=" form-group col-md-12">Edit
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Details"
                  (click)="editAddress(data)">
                  <mat-icon> edit </mat-icon>
                </button>
              </div>
              <div class=" form-group col-md-12">
                <b><small>: {{data.address}}</small></b>
              </div>
              <div class=" form-group col-md-12">
                <b><small>: {{data.contactNo}}</small></b>
              </div>
              <div class=" form-group col-md-12">
                <b><small>: {{data.alternativeContactNo}}</small></b>
              </div>
              <div class=" form-group col-md-12">
                <b><small>: {{data.mailId}}</small></b>
              </div>
              <div class=" form-group col-md-12">
                <b> <small>: {{data.map}}</small></b>
              </div>
              <div class=" form-group col-md-12">
                  <b> <small>: {{data.aboutUsPreview}}</small></b>
                </div>
            </div>
            <div *ngIf="data.detailsUpdate">
              <div class=" form-group col-md-12">Update
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Update  Details"
                  (click)="footerEditForm.valid && updateDetails(id.value, address.value, contactNo.value,
                   alternativeContactNo.value, mailId.value, map.value , abt.value)">
                  <mat-icon> save </mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancel" (click)="cancelDetails(data)">
                  <mat-icon> clear </mat-icon>
                </button>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput hidden [value]="data._id" formControlName="id" #id>
                  <input matInput placeholder="Address" [value]="data.address" formControlName="address" #address>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Contact Number" [value]="data.contactNo" type="number" formControlName="contactNo"
                    #contactNo>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Alternative Contact Number" type="number" [value]="data.alternativeContactNo"
                    formControlName="alternativeContactNo" #alternativeContactNo>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email ID" [value]="data.mailId"  [email]="true" type="email" formControlName="mailId" #mailId>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Map Source" [value]="data.map" formControlName="map" #map>
                </mat-form-field>
              </div>
              <div class=" form-group col-md-12">
                  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="About Us Preview" formControlName="aboutUsPreview" style="width: 2500px" [value]="data.aboutUsPreview" #abt></textarea>
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 "></div>
      <div class="col-md-5 pageBoxl">
        <div class="row" *ngFor="let data of footerModel">
          <div class="col-md-6" *ngIf="!data.socialUpdate">
            <div class="form-group col-md-12">
              <div class="form-group">
                <label> <b>Social Media Link</b> </label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label> <small>Instagram Link</small> </label>
            </div>
            <div class="form-group col-md-12">
              <label> <small>Facebook Link</small></label>
            </div>
            <div class="form-group col-md-12">
              <label> <small>Pintrest Link</small></label>
            </div>
            <div class="form-group col-md-12">
              <label> <small>GooglePlus Link</small></label>
            </div>
            <div class="form-group col-md-12">
              <label><small>Twitter Link</small></label>
            </div>
          </div>
          <div class="col-md-6" *ngFor="let data of footerModel">
            <div *ngIf="data.socialUpdate">
              <div class=" form-group col-md-12">Update
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Update  Social Media Link"
                  (click)="updateSocialDetails(id.value, instagramLink.value, facebookLink.value, pintrestLink.value, googlePlusLink.value, twitterLink.value )">
                  <mat-icon> save </mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancel"
                  (click)="cancelSocialDetails(data)">
                  <mat-icon> clear </mat-icon>
                </button>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput hidden [value]="data._id" formControlName="id" #id>
                  <input matInput placeholder="Instagram Link" formControlName="instagramLink"
                    [value]="data.instagramLink" #instagramLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Facebook Link" [value]="data.facebookLink" formControlName="facebookLink"
                    #facebookLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Pintrest Link" [value]="data.pintrestLink" formControlName="pintrestLink"
                    #pintrestLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Google Plus Link" [value]="data.googlePlusLink"
                    formControlName="googlePlusLink" #googlePlusLink>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Twitter Link" [value]="data.twitterLink" formControlName="twitterLink"
                    #twitterLink>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="!data.socialUpdate">
              <div class=" form-group col-md-12">Edit
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit Social Medai Link"
                  (click)="editSocialMedia(data)">
                  <mat-icon> edit </mat-icon>
                </button>
              </div>
              <div class="form-group col-md-12">
                <b><small>: {{data.instagramLink}}</small></b>
              </div>
              <div class="form-group col-md-12">
                <b><small>: {{data.facebookLink}}</small></b>
              </div>
              <div class="form-group col-md-12">
                <b><small>: {{data.pintrestLink}}</small></b>
              </div>
              <div class="form-group col-md-12">
                <b><small>: {{data.googlePlusLink}}</small></b>
              </div>
              <div class="form-group col-md-12">
                <b><small>: {{data.twitterLink}}</small></b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngFor="let data of footerModel">
        <div *ngIf="!data.logoUpdate">
          <label>Logo </label> <button mat-icon-button mat-sm-button color="primary" matTooltip="Edit  Logo"
            (click)="editLogo(data)">
            <mat-icon> edit </mat-icon>
          </button>
          <div>
            <img [src]="data.logoImageName" style="width: 280px; height: 245px;" />
          </div>
        </div>
        <div *ngIf="data.logoUpdate">
          <input matInput hidden [value]="data._id" formControlName="id" #id>
          <label>Logo </label>
          <div>
            <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
          </div>
          <div>
            <input type="file" name="file" class="btn btnPink btn-block" id="file"
              (change)="handleFileInput($event.target.files)">
          </div>
          <div>
            <button mat-icon-button mat-sm-button color="primary" matTooltip="Update  Logo "
              (click)="updateLogo(id.value)">
              <mat-icon> save </mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancel Logo" (click)="cancelLogo(data)">
              <mat-icon> clear </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->