
<div *ngFor="let data of shiprocketOrders" class="orderBackground">
  <!-- <div *ngIf="data.status === 'INVOICED'">
    <button (click)="downloadInvoice(data.id)">
      - <a target="_blank" [href]="pdfUrl">
        Download Invoice
      </a>
    </button>
   <a target="_blank" href="{{pdfUrl}}">
      Download Invoice
    </a>
  </div> -->
 
  <!-- <div class="row">

    <div class="col-md-12">
      <label>Order Date</label>
      {{data.created_at}}
    </div>
    <div class="col-md-12">
      <label> Channel</label>
      {{data.channel_name}}
    </div>
    <div class="col-md-12">
      <label> Channel Order ID</label>
      {{data.channel_order_id}}
      <label> Order ID</label>
    <a (click)="viewSingleOrder(data.id)"> {{data.id}}</a> 
      <label> Order status</label>
      {{data.status}}
    </div>
    <div class="col-md-12">
      <label> Product Details</label>

      <div *ngFor="let products of data.products">
        <label>Product Name</label>
        {{products.name}}
        <label>Product SKU</label>
        {{products.channel_sku}}
      </div>
    </div>
    <div class="col-md-12">
      <label>Payment</label>
      {{data.total}}
      {{data.payment_method}}
    </div>
    <div class="col-md-12">
      <label>Customer Details</label>
      {{data.customer_name}}
      {{data.customer_email}}
      {{data.customer_phone}}
    </div>
    <div class="col-md-12">
      <label>Pickup Address</label>
      {{data.pickup_location}}
    </div>
    <div class="col-md-12">
      <label>Dimesnion & Weight</label>
      <div *ngFor="let shipment of data.shipments">
        {{shipment.dimensions}}
        {{shipment.weight}}
      </div>

    </div>
    <div class="col-md-12">
      <label>
        Action
      </label>
      <div>
        <button (click)="createInvoice(data.id)" *ngIf="data.status !== 'INVOICED'">Create Invoice</button>
        <button (click)="shipNow(data.id)" *ngIf="data.status !== 'INVOICED' || data.status !== 'NEW' ">Ship Now</button>
        <button (click)="cancelOrder(data.id)">Cancel Order</button>
      </div>
    </div>
  </div> -->
</div>

<div class="container">
  <h3 class="text-center"> Shiprocket Order Details</h3>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order Date</th>
          <th>Channel</th>
          <th>Order ID <br> Status</th>
          <th>Product Details</th>
          <th>Payment</th>
          <th>Customer Details</th>
          <th>Dimension & Weight</th>
          <th>Shipping Details</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of shiprocketOrders">
          <td>{{data.created_at}}</td>
          <td> {{data.channel_name}}</td>
        
          <td> <a (click)="viewSingleOrder(data.id)"> {{data.channel_order_id}}</a>
             <br>{{data.id}} <br> {{data.status}}</td>
          <td style="overflow:hidden;"><div *ngFor="let products of data.products">
            Name: {{products.name}} <br>
            SKU: {{products.channel_sku}}
          </div></td>
          <td> {{data.total}} <br>
            {{data.payment_method}}</td> 
          <td>  {{data.customer_name}} <br>
            {{data.customer_email}} <br>
            {{data.customer_phone}}</td>
          <td>
            <div *ngFor="let shipment of data.shipments">
              {{shipment.dimensions}} cm <br>
              {{shipment.weight}} kg
              <a (click)="trackShipmentId(shipment.id)">Shipment track</a>
            </div>
          </td>
          <td>
            Pickup Address: {{data.pickup_location}}
            <div *ngFor="let shipment of data.shipments">
              AWB:  <a href="https://app.shiprocket.in/tracking/awb/{{shipment.awb}}" target="_blank"> {{shipment.awb}} </a>  <br>
              Courier: {{shipment.courier}} 
            </div>
          </td>
          <td>
            <!-- <button class="btn btn-primary" (click)="shipNow(data.id)">Ship Now</button> <br>
            <a (click)="createInvoice(data.id)">Create Invoice</a> -->
            <div *ngIf="data.status !== 'CANCELED'">
              <button class="btn btn-primary"  (click)="createInvoice(data.id)" *ngIf="data.status !== 'INVOICED'">Create Invoice</button>
              <button class="btn btn-primary"  (click)="shipNow(data.id)" *ngIf="data.status === 'INVOICED' || data.status === 'NEW' || data.status !== 'CANCELLATION REQUESTED'">Ship Now</button>
              <button class="btn btn-primary" (click)="cancelOrder(data.id)" *ngIf="data.status === 'INVOICED' || data.status === 'NEW' || data.status !== 'CANCELLATION REQUESTED'">Cancel Order</button>
            </div>
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>