<div class="flex categoryRow">
  <div class="card">
    <div class="categoryField">
      <label>Pincode Mapping Template</label>
      <button (click)="downloadPincode()">Download </button>
    </div>
  </div>
</div>
<div class="flex categoryRow">
  <div class="col-md-6">
    <label>Add the Pin code </label>
    <mat-form-field>
      <mat-label>Brand Name</mat-label>
      <mat-select (selectionChange)="selectedBrand($event)">
        <mat-option *ngFor="let brand of brandModel" [value]="brand">
          {{brand.brandName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--  <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Pickup Address Pincode</mat-label>
        <input matInput placeholder="Pincode" #brandId>
      </mat-form-field>
    </div> -->
    <div class="categoryField">
      <p style="background-color: red;" *ngIf="disableUpload">Pincode Already Exists</p>
      <input type="file" (change)="uploadingPincodeMapping($event)" placeholder="Upload file" accept=".xlsx">
      <button type="button" mat-raised-button color="primary" (click)="uploadExcel()" *ngIf="!disableUpload">Pin code
        Mapping</button>&nbsp;
      &nbsp;&nbsp;
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="col-md-4">
          <label> Brand Name</label>
          <div *ngFor="let data of pincodeDetails">
            <div *ngFor="let brand of brandModel">
              <div *ngIf="brand._id === data.brandId">
                {{brand.brandName}}
              </div>
            </div>
            <button (click)="deletePinCode(data._id)">Delete Pincode</button>
          </div>
        </div>
        
        <div class="col-md-12">  <!--add title ex: has cod, has reverse-->
          <div> Pincode Details</div>
          <div *ngFor="let data of pincodeDetails">
            <div *ngFor="let pincodes of data.pincodeDetails">
              {{pincodes.Pincode}} 
              {{pincodes.HasCod}}
              {{pincodes.HasPrepaid}}
              {{pincodes.HasReverse}}
            </div>
          </div>
         

      </div>
    </div>
  </div>
</div>