<!-- {{trackingDetails | json }} -->
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let data of trackingDetails.tracking_data">
      {{data.edd}}
    </div>
  </div>
</div>