<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
  <p style="padding-top: 21px;padding-left: 20px"> Setting / About Us / Edit </p>
  </div>
<div class="pageBoxLg">
  <div class="container topAlignContainer ">
    <form [formGroup]="AboutUsForm">
      <div>
          <label  class="pageBoxLg-label pblabel">Edit About Us</label>
       
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Heading" [value]="aboutModel.Title" formControlName="title"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Details" [value]="aboutModel.Details" formControlName="details"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Notes" [value]="aboutModel.note1" formControlName="note1"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Notes" [value]="aboutModel.note2" formControlName="note2"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Notes" [value]="aboutModel.note3" formControlName="note3"></textarea>
                </mat-form-field>
              </div>
        <div style="margin: 3px">
          <!-- <button  mat-raised-button type="button" color="primary"(click)="updateTermsAndUse(TermsForm)">Update</button> -->
          <button style="margin-left: 5px;" mat-raised-button type="button" color="primary" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
