<div>
  <button (click)="printLabel(shiprocketOrder.shipments.id)">Print Label</button>
  <button (click)="requestPickUp(shiprocketOrder.shipments.id)">Request Pickup</button>
</div>

<div class="row">
<!--   {{shiprocketOrder | json}} -->
  <div class="col-md-6">

    Order Number : {{shiprocketOrder.channel_order_id}} </div>
    <div class="col-md-6">
      Order Status : {{shiprocketOrder.shipments.status}}
    </div>
    
<div class="col-md-6">
    <b>Customer Details</b> <br>
    Name : {{shiprocketOrder.customer_name}} <br>
    Email : {{shiprocketOrder.customer_email}} <br>
    Phone : {{shiprocketOrder.customer_phone}}
  </div>
  <div class="col-md-6">
    <b>Customer Address</b> <br>
    {{shiprocketOrder.customer_address}} <br>
    {{shiprocketOrder.customer_address_2}} <br>
    {{shiprocketOrder.customer_city}} <br>
    {{shiprocketOrder.customer_state}} <br>
    {{shiprocketOrder.customer_pincode}} <br>
    {{shiprocketOrder.customer_country}} <br>
  </div>
<!-- </div> -->
<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>HSN</th>
        <th>SKU</th>
        <th>Channel SKU</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Discount</th>
        <th>Tax</th>
        <th>Total</th>
        <th>Order Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shiprocketOrder.products">
        <td>{{data.name}}</td>
        <td></td>
        <td>{{data.hsn}}</td>
        <td>{{data.sku}}</td>
        <td>{{data.channel_sku}}</td>
        <td>    {{data.quantity}}
        </td>
        <td>{{data.price}}</td>
        <td>{{data.discount}}</td>
        <td>{{data.discount_including_tax}}</td>
        <td>{{data.net_total}}</td>
        <td>{{data.selling_price}}</td>
      </tr>
    </tbody>
  </table>


</div>
<!-- <div class="col-md-12"> -->
  <div class="col-md-6">
    <label><b>ORDER DETAILS</b></label> <br>
<label>Channel	: {{shiprocketOrder.channel_name}}</label> <br>
<label>Order Id: {{shiprocketOrder.channel_order_id}}</label> <br>
<label>Order Created on Channel At:	{{shiprocketOrder.channel_created_at}}</label> <br>
<label>Order Created in System At:	{{shiprocketOrder.created_at}}</label> <br>
<label>Payment Method:	{{shiprocketOrder.payment_method}}</label> <br>
<label>Payment Gateway	:	{{shiprocketOrder.channel_order_id}}</label> 
  </div>
  <div class="col-md-6">
    <label>SHIPPING DETAILS</label> <br>
  Dimensions:  {{shiprocketOrder.shipments.dimensions }} <br>
  Courier:  {{shiprocketOrder.shipments.courier}} <br>
  AWB: {{shiprocketOrder.shipments.awb}} <br>
  Pickup Address : {{shiprocketOrder.pickup_location}}
  </div>
 
<!-- </div> -->