<div class="container" *ngIf="showAddButton">
  <div class="row mt-5">
    <div class="col-md-12 mt-5 mb-5 text-center">
      <button class="btn btn-primary" (click)="onAdd()">Add Promotion Banner</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="!showAddButton">
  <div class="row">
    <div class="col-md-6">
      <img [src]="holder?.imageName" style="width: 200px;">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="row">
            <div class="col-md-8 form-group">
              {{holder?.tagTitle}}
            </div>
            <div class="col-md-4 form-group">
              <button class="addButton" mat-flat-button color="primary"  (click)="onEdit(holder?._id)">Edit  </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 form-group">
          {{holder?.tagDescription}}
        </div>
        <div class="col-md-12 form-group">
          {{holder?.link}}
        </div>
        <div class="col-md-12 form-group">
          <label>{{(holder?.modifiedDate === undefined ? holder?.addedDate : holder?.modifiedDate) | date}}</label>
        </div>
        <div class="col-md-12 form-group">
          <label class="switch">
            <input type="checkbox" (change)="changeStatus(holder?.status, holder?._id)" [checked]="holder?.status === 'Enabled'">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>