<div class="container">
  <button (click)="generateAwb()">Ship Now</button>
<div class="row">
  <div class="col-md-6">
    <label><b>Pickup From:</b></label>
    <!-- Location ID: {{singleOrderDetails.pickup_location_id}} <br> -->
   {{singleOrderDetails.pickup_location}}
    <!-- {{singleOrderDetails.pickup_code}} -->
    <br>
    <label><b>Order Value:</b></label>
    Rs. {{singleOrderDetails.total}} <br>
    <label><b>Courier Name:</b></label>
    {{selectedCourierDetails.courier_name}}
  </div>
  <div class="col-md-6">
    <label><b>Deliver To:</b></label>
    {{singleOrderDetails.customer_address}},
    {{singleOrderDetails.customer_address_2}} <br>
    
    {{singleOrderDetails.customer_city}},
    {{singleOrderDetails.customer_state}},
    {{singleOrderDetails.delivery_code}}
    <br>
   

    <div>
      <label><b>Applied Weight</b></label>
      {{singleOrderDetails.shipments.weight}} <br>
      <label><b>Price</b></label>
      Rs. {{selectedCourierDetails.rate}}
    </div>
  </div>
</div>

<div class="row bor" *ngFor="let data of courierServices.available_courier_companies"
  (click)="selectedCourier(data.courier_company_id)">
 
    <div class="col-md-4">
      <label>
        Courier Company :</label> <b>{{data.courier_name}} </b> <br>
     
      <span>
        Min weight: {{data.min_weight}} Kg <br>
        Expected Delivery: {{data.etd}} <br>
      </span>

      <label>
        Mode :</label>
      <span *ngIf="data.mode === 0">
        Surface
      </span>
      <span *ngIf="data.mode === 1">
        Air
      </span>

      <br>
      
    </div>
    <div class="col-md-4">
      <label>
        Ratings</label>
      {{data.rating}} <br>
      <label>
        Pickup Available :</label>
      <span *ngIf="data.pickup_availability === 1">
        Today
      </span>
      <span *ngIf="data.pickup_availability === 0">
        Tomorrow
      </span> <br>
      <label>
        Price :</label>
      Rs. {{data.rate}}
      <!-- {{data.courier_name}} -->
      <div *ngIf="courierServices.shiprocket_recommended_courier_id === data.courier_company_id">
        <h5 style="color: green;">Recommended </h5>
      </div>
    </div>
   
  
</div>
</div>