<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
  <p style="padding-top: 21px;padding-left: 20px"> Settings / Terms and Use</p>
  </div>


<div class="pageBoxLg">
  <div style="padding: 7px">
    <label style="padding-top: 8px;padding-bottom: 8px" class="pageBoxLg-label">About Us</label>

    <!-- <label style="margin-left: 20px" matTooltip="Add Terms & Use" class="pageBoxLg-label" (click)="goToAdd()">Add</label> -->
  </div>
  <div class="col-md-12 text-right">
      <h1 >
          <button class="addButton" mat-flat-button color="primary" (click)="goToAdd()"> <i
              class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <a style="padding-left: 10px;">Add About Us</a>  </button>
      </h1>
    </div>
  <div style="margin-top: 20px;" class="row" *ngIf="!showNoData"  >
    <div class="col-md-12 mx-auto">
      <table   mat-table [dataSource]="aboutModel" matSort class="container-fluid border text-strong">
        <ng-container matColumnDef="heading">
          <th mat-header-cell *matHeaderCellDef><h5>Heading</h5> 
          </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="showOrderDetails(element)">{{element.Title}}</a> </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>
              <h5> Details</h5>
          </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="showOrderDetails(element)"> {{element.Details}} </a> </td>
        </ng-container>
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>
                <h5> Image</h5>
            </th>
            <td mat-cell *matCellDef="let element">
              <a (click)="showOrderDetails(element)"> {{element.ImageName}} </a> </td>
          </ng-container>
          <ng-container matColumnDef="Notes">
              <th mat-header-cell *matHeaderCellDef>
                  <h5> Notes</h5>
              </th>
              <td mat-cell *matCellDef="let element">
                <a (click)="showOrderDetails(element)"> {{element.note1}} <br> {{element.note2}} <br> {{element.note3}} </a> </td>
            </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef><h5 class="actioncategoryheader">Action</h5></th>
            <td mat-cell *matCellDef="let element">
                <div class=" vcenter form-group">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
          
                    <a class="nav-link selectCursor"  (click)="editAboutUs(element)" >Edit</a>
                    <a class="nav-link selectCursor" (click)="openDialog(element)">Delete</a>
                  </mat-menu>
                </div>
              
            </td>
          </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons style="margin-left: 17px;"></mat-paginator>
  </div>
  <div *ngIf="showNoData" class="nodata"> No results found</div>
</div>


