.matCtrl{
    margin: 10px;
    background-color: #f0f3f5;
}
.attributeedit{
    background-color: black;
    color: #fff;
   letter-spacing: 2px;
    padding: 10px;
  
}
.grid{
    margin-top: 20px;
}
.fieldheader{
  font-size:   16px;
  font:bold;
}
.btnNew{
    background-color: #FF5778;
    color: #f0f3f5;
}
.btnNew{
    background-color: #FF5778 !important;
    color: #f0f3f5;
}

.selectValue {
    cursor: pointer;
}
.ctrlCard{
    margin: 10px;
    background-color: #f0f3f5;
}
/* .cancleNow{
    background-color: #FF5778;
    color: #fff;
}*/

.deleteNow{
    background-color: red;
    color: #fff;
} 
.cancleNow:focus{
    outline: none;
}
.imgCard{
    width: 100%;
    height: auto;
    margin: 10px;
    }